
@media screen and (max-width:991px){
    .desktop-header{
        display: none;
    }
    .mobile-header {
        background: #fff;
        padding: 10px 15px;
    }
    .mainmobile-menu {
        z-index: 999;
        position: relative;
    }
    .mobile-menu-btm {
        padding: 0% 10%;
        text-align: left;
    }
    .slider-information .red-color_btn{
        margin-bottom: 20px;
    }
    .achivements-box .icon-box_left{
        width: 25%;
    }
    .achivements-box .icon-box_right{
        width: 75%;
    }
    .achivements-box .icon-box_right h3{
        font-size: 26px;
    }
    .about-brand h3{
        font-size: 52px;
        line-height: 67px;
    }
    
    .for-what_design h3{
        font-size: 46px;
        line-height: 45px;
    }
    .for-what_design p{
        font-size: 14px;
    }
    .contact-form h3, .contact-data h3{
        font-size: 38px;
    }
    .mobile-header{
        position: fixed;
        z-index: 999999;
        padding: 1rem 0;
        background: url(../images/header-bg.jpg) no-repeat;
        background-size: cover;
        background-position: top;
    }
    .mainmobile-menu .cart-icon{
        float: left;
        margin-right: 20px;
    }
}
@media screen and (min-width:992px){
    .mobile-header{
        display: none;
    }
}

@media screen and (max-width:1199px){
    .thank-you .card-body{
        padding: 20px;
    }
    .thank-you .section-title {
        margin-top: 0;
    }
    .thank-you .card{
        margin: 0;
    }
    
    .navigation-menu ul li a{
        font-size: 14px;
    }
    .desktop-header .login-link span{
        font-size: 14px;
    }
    .desktop-header .login-link{
        padding: 10px 15px;
    }
    .banar-horizontal,.banar-vertical{
        display: none;
    }
    .learn-grid .card{
        height: 100%;
    }
    .product-detail .card{
        height: max-content;
    }
}

@media screen and (max-width:991px){
    .account-white-box .title{
        font-size: 36px;
        padding-top: 0;
    }
    .account-white-box .content .description{
        padding-bottom: 0;
    }
    .middle-section .message-box{
        display: none;
    }
    .middle-section{
        padding: 4rem 0 4rem;
    }
    .middle-section .section-title,
    .middle-section .section-description{
        text-align: center;
    }
    .middle-section .btn-submit{
        margin: 0 auto;
        display: flex;
        margin-bottom: 3rem;
    }
    .banar-content .row{
        display: flex;
        flex-flow: column-reverse;
    }
    .banar-content .message-box,
    .banar-content .horizontal-box{
        display: none;
    }
    .banar-content .section-title{
        margin-top: 6rem;
        text-align: center;
    }
    .banar-content  .section-description{
        text-align: center;
    }
    .banar-content{
        padding: 2rem 0;
    }
    .banar-content .btn-submit{
        margin: 0 auto;
        display: flex;
        margin-bottom: 4rem;
    }
    .frequently-section{
        padding: 4rem 0;
    }
    .about-us-banar .about-fourth-image,
    .about-us-banar .about-third-image{
        display: none;
    }
    .about-first-image,.about-secound-image{
        text-align: center;
    }
    .about-us-banar .about-first-image{
        margin-top: 0rem;
        float: left;
    }
    .about-us-banar .about-secound-image{
        margin: 0;
        padding: 0;
    }
    .about-us-banar{
        padding: 2rem 0;
    }
    .about-us-banar .about-title .section-title{
        padding: 0 15px;
        margin-bottom: 20px;
        margin-top: 4rem;
    }
    .about-middle .horizontal-box,
    .about-middle .message-box{
        display: none;
    }
    .checkout-page .customer-form,
    .checkout-page .right-block{
        margin-left: 0;
    }
    
    .thank-you{
        padding: 10rem 0 5rem;
    }
    .thank-you .section-description{
        font-size: 19px;
    }
    .slider-section{
        overflow-x: auto;
    }
    .slider-section .slider-box{
        width: 230px;
    }
    .slider-section .slider-section-group{
        display: inline-flex;
        margin: 15px 0 0 15px;
    }
    .swipe-btn{
        padding: 2rem 0;
        float: left;
        width: 100%;
        display: block;
        position: relative;
        z-index: 2;
        text-align: right;
    }
    
    .swipe-btn .btn-submit{
        margin-right: 30px;
    }
    .swipe-btn:before{
        content: "";
        width: 50%;
        height: 1px;
        background: #09556D;
        position: absolute;
        left: 15px;
        top: 55px;
        z-index: -1;
    }
    .listing-title{
        margin-top: 2rem;
    }
    .login-page{
        padding-top: 7rem;
    }
    .listing-title .section-description{
        margin-bottom: 0;
    }
    .banar-section{
        padding-top: 8rem;
    }
    .product-detail .section-title{
        margin-top: 3rem;
    }
    .product-detail{
        padding: 2rem 0;
    }
   
}



@media (max-width:991px) and (min-width:768px){
    .text-lg-right img{
        float: right;
    }
}
@media screen and (max-width:767px){
    .user-account .menu-links ul{
        display: flex;
        overflow: auto;
    }
    .user-account .menu-links ul li:nth-child(2), .user-account .menu-links ul li:nth-child(3){
        margin-left: 0;
    }
    .user-account .menu-links{
        margin-left: 0;
    }
    .user-account .menu-links ul li a{
        width: 185px;
    }
    .user-account .menu-links ul li{
        margin-right: 2rem;
    }
    .p-70{
        padding: 2rem 0 4rem;
    }
    .user-account .menu-links{
        margin-top: 2rem;
    }
    .mobile-title{
        text-align: center;
    }
    .mobile-quantity{
        display: none;
    }
    .account-white-box .data-table td .more-detail{
        float: left;
        color: #4D4471;
        background: none;
        text-transform: uppercase;
    }
    .account-white-box .data-table td .more-detail span{
        display: none;
    }
    .account-white-box .data-table tr th{
        text-transform: uppercase;
    }
    .my-order,
    .address-page{
        margin-top: 1rem;
    }
    .account-detail .section-title{
        display: none;
    }
    .section-title{
        font-size: 40px;
        line-height: 48px !important;
    }
    .middle-section .right-section .uper-shape{
        width: 300px;
        float: left;
        margin-left: 6rem;
    }
    .learn-grid .section-title,
    .learn-grid .section-description,
    .about-middle .section-title{
        text-align: center;
    }
    .learn-grid{
        padding: 3rem 0;
    }
    .learn-grid .section-btn .btn-submit{
        width: 100%;
    }
    .bottom-section .message-box,
    .bottom-section .horizontal-box{
        display: none;
    }
    .bottom-section{
        padding: 2rem 0 4rem;
    }
    .bottom-section .row{
        display: flex;
        flex-flow: column-reverse;
    }
    .bottom-section .btn-submit{
        margin-bottom: 5rem;
    }
    .filter-search .sort-by{
        margin-top: 20px;
    }
    .filter-search .sort-text{
        position: absolute;
        top: -30px;
        margin-left: 10px;
    }
    .product-list .section-description{
        text-align: left;
    }
    .listing-title .section-title,
    .listing-title .section-description,
    .about-middle .section-description{
        text-align: center;
    }
    
    .pagination .btn-submit{
        font-size: 12px;
    }
    .pagination .page-item .btn-submit{
        padding: 10px 15px;
    }
    .pagination .page-item {
        margin-right: 11px !important;
    }
    .pagination .page-item span{
        display: none;
    }
    .mobile-btn{
        text-align: center;
    }
    .card-header button{
        font-size: 18px;
        padding: 0;
        font-weight: 400;
    }
    .frequently-section .accordion{
        margin-top: 2rem;
    }
    .about-middle .btn-submit{
        margin: 0 auto;
        display: flex;
        margin-bottom: 4rem;
    }
    .about-middle{
        padding: 3rem 0;
    }
    .frequently-section .frequently,
    .frequently-section .btn-submit{
        display: none;
    }
    .about-bottom .horizontal-box .white-box{
        margin: 0 auto;
    }
    .about-bottom .middle-box,
    .about-bottom .three-strip{
        margin-left: 0;
    }
    .about-bottom .horizontal-box{
        margin-bottom: 2rem;
    }
    .about-bottom{
        padding: 4rem 0;
    }
    .about-bottom-content .section-title{
        margin: 0 auto;
        text-align: center;
    }
    .about-bottom-content .section-description{
        text-align: center;
    }
    .about-bottom .pr-0{
        padding-right: 15px !important;
    }
    .about-bottom-content .white-strip .numbers,
    .about-bottom-content .white-strip .text-content{
        text-align: center;
    }
    .about-bottom-content .white-strip .text-content{
        margin-bottom: 2rem;
    }
    .about-bottom-content .btn-submit{
        margin: 0 auto;
        display: flex;
    }
    .about-bottom-content .white-strip{
        border-radius: 17px;
    }
    
    .login-page .customer-form,
    .checkout-page .mobile-box{
        padding: 30px;
        border-radius: 35px;
        background-color: #ffffff;
        box-shadow: 0px 9px 29px rgba(0, 0, 0, 0.12);
        margin-bottom: 3rem;
    }
    .login-page .section-title{
        text-align: center;
    }
    .login-page .text-content{
        font-weight: 800;
        text-align: center;
    }
    .login-page{
        padding-bottom: 0;
    }
    .checkout-page .section-description{
        display: none;
    }
    .checkout-page .section-title{
        text-align: center;
        margin-bottom: 2rem;
    }
    .checkout-cart .text-content{
        text-align: center;
        font-weight: 800;
    }
    .thank-you .data-description{
        margin-bottom: 3rem;
        text-align: center;
    }
    .thank-you .section-title,
    .thank-you .section-description{
        text-align: center;
    }
    .banar-section{
        padding: 8rem 1rem 4rem;
    }
    .user-account{
        padding-top: 6rem;
    }
    .mobile-title{
        display: block !important;
    }
    .about-middle .middle-section-image .lower-image{
        display: none;
    }
    .about-us-banar .about-first-image img{
        width: 280px;
    }
    .about-us-banar .about-secound-image img{
        margin-top: -44px;
    }
}
@media screen and (max-width:575px){
    .middle-section .right-section .uper-shape{
        width: 150px;
        float: left;
        margin-left: 6rem;
    }
    .footer-section{
        padding: 2rem 0;
    }
    .bottom-section img {
        height: auto;
    }
    .login-page .customer-form, .checkout-page .mobile-box{
        padding: 20px;
    }
    .mainmobile-menu .logo{
        width: 100px;
    }
    .overlay-boxify.open{
        margin-top: 73px;
    }
    .pagination .page-item .btn-submit{
        padding: 10px;
    }
    .card-body .card-title{
        font-size: 15px;
    }
    .card-data .black-title{
        margin-bottom: 2px;
    }
    .learn-grid .card-body .card-data{
        padding-top: 4px;
    }
}