body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}

/******************* header ***************/
header{
    padding: 1rem 0;
    float: left;
    width: 100%;
    background: url(../images/header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
header .login-link{
    text-decoration: none !important;
    margin-right: 10px;
}
header .menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation-menu ul li{
    display: inline-block;
    padding: 0 15px;
}
.navigation-menu ul{
    display: flex;
    align-items: center;
    margin: 0;
}
.navigation-menu ul li a{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    opacity: 0.6;
}
.navigation-menu ul li.active a,
.navigation-menu ul li:hover a{
    opacity: 1;
}
header .cart-icon{
    position: relative;
}
.mainmobile-menu .nav-toggle,
.mainmobile-menu .nav-toggle.active{
    width: 35px;
}
header .cart-icon .cart-number{
    position: absolute;
    background: linear-gradient(141.95deg, #FF9900 18.29%, #F16262 76.75%);
    color: #ffffff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    left: 10px;
}
/******************* Home Page ***************/
.banar-section{
    text-align: center;
    background: url(../images/slider-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding:4rem 0 2rem 0;
    float: left;
    width: 100%;
    position: relative;
}
.section-title{
    background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 52px;
    line-height: 60px;
}
.mobile-title{
    background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 52px;
    line-height: 70px;
    display: none;
}
.banar-section .section-title{
    margin: 0 auto;
    width: 100%;
    max-width: 510px;
    margin-bottom: 20px;
}
.section-description{
    color: #000000;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 20px;
}
.btn-submit{
    background: linear-gradient(160deg, #FF9900 18.29%, #F16262 76.75%);
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    transition: all 0.5s ease;
}
.btn-Purple{
    background: #4D4471;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    transition: all 0.5s ease;
    width: 100%;
    height: 45px;
}

.btn-submit:hover,
.btn-Purple:hover{
    background: linear-gradient(160deg, #F16262 18.29%, #FF9900 76.75%);
}
.btn-submit span{
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.btn-Purple span{
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.btn-submit:focus{
    outline: none;
}
.btn-Purple:focus{
    outline: none;
}
.slider-section{
    float: left;
    width: 100%;
}
.slider-section .slider-box{
    text-align: center;
    padding:50px 20px;
    width: 16.66%;
    float: left;
    border: 1px solid #D1D1D1;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 220px;
}

.slider-section .slider-box .image-fix{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto; 
    transition: all 0.3s ease;
}
.slider-section .slider-box p{
    display: none;
    color: #4D4471;
    font-size: 16px;
    line-height: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}
.slider-section .slider-box:hover p{
    display: block;
    transition: all 0.3s ease;
}
.slider-section .slider-box:hover .image-fix{
    margin: -20px auto 0 auto;
    transition: all 0.3s ease;
}
.swipe-btn{
   display: none;
}
.slider-box .happy-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to right, #35FFDB 0%, #277FA0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slider-box .active-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to right, #F88A4C 0%, #FFC530 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slider-box .healthy-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to right, #60DF4B 0%, #12A4DB 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slider-box .intelligent-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to right, #C54BDF 0%, #811698 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slider-box .safe-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to right, #CACACA 0%, #7E7E7E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slider-box .helpful-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to right, #C9F155 0%, #48C60C 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slider-section .happy-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #35FFDB 18.29%, #277FA0 81.71%);
    left: 0;
    opacity: 0;
}
.slider-section .happy-box:hover:after,
.slider-section .active-box:hover:after,
.slider-section .healthy-box:hover:after,
.slider-section .intelligent-box:hover:after,
.slider-section .safe-box:hover:after,
.slider-section .helpful-box:hover:after
{
    opacity: 1;
}
.slider-section .active-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #F88A4C 18.29%, #FFC530 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .healthy-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #60DF4B 18.29%, #12A4DB 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .intelligent-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #C54BDF 18.29%, #811698 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .safe-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #CACACA 18.29%, #7E7E7E 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .helpful-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #C9F155 18.29%, #48C60C 76.75%);
    left: 0;
    opacity: 0;
}
.banar-vertical{
    position: absolute;
    right: 130px;
    bottom: 175px;
    text-align: left;
}
.banar-horizontal{
    position: absolute;
    left: 140px;
    top: 300px;
    text-align: left;
}
.middle-section{
    padding: 8rem 0 4rem;
    float: left;
    width: 100%;
    background: url(../images/what-we-offer.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.middle-section .section-title{
    margin-bottom: 15px;
}
.scroll-down{
    position: relative;
    transition: all 0.3s ease;
    margin-top: 80px;
}
.scroll-down a:hover{
    text-decoration: none;
    color: #000;
}
.scroll-down a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.middle-section .right-section .uper-shape{
    width: 350px;
    float: right;
    margin-right: 50px;
}
.middle-section .message-box .white-box{
    margin: 6rem auto 0;
}
.white-box{
    background: #FFFFFF;
    box-shadow: 0px 16px 24px 3px rgba(9, 16, 84, 0.15);
    border-radius: 17px;
    width: 190px;
    padding: 10px;
}
.white-box p{
    color: #C992EF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 5px;
    margin-bottom: 0;
}
.white-box p span{
    display: flex;
    font-weight: 500;
    font-size: 64px;
    color: #C992EF;
    opacity: 0.5;
}
.learn-grid{
    float: left;
    width: 100%;
    background: url(../images/Circle-Background-light.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
}
.learn-grid .card{
    box-shadow: 0px 16px 33px rgba(60, 60, 60, 0.25);
    border-radius: 10px;
    border: none;
}
.learn-grid .card-body{
    background: #F9FAFF;
    margin: 5px;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.card-data .black-title a{
    color: #797979;
    font-weight: 800;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
    transition: all 0.4s ease;
    text-decoration: none;
}
.learn-grid .card-body .card-data{
    padding: 8px 8px 0 0;
}
.card-body .card-title{
    margin-bottom: 5px;
    line-height: 20px;
}   
.card-body .card-title a{
    font-size: 18px;
    font-weight: 800;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    transition: all 0.4s ease;
}
.card-data .card-description{
    color: #070F16;
    opacity: 0.5;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.card-data .price{
    background-color: #ffffff;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
    height: 45px;
    line-height: 41px;
}
.card-data .view{
    background: linear-gradient(141.95deg, #C54BDF 18.29%, #12A4DB 76.75%);
    border-radius: 30px;
    height: 45px;
    line-height: 41px;
    text-align: center;
    display: none;
    margin-top: 10px;
}
.card-data .view a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.learn-grid .card:hover .card-data .view{
    display: block;
}
.learn-grid .card:hover .card-data .black-title a{
    color: #C992EF;
}
.learn-grid .card:hover .card-data .card-title a{
    background: linear-gradient(to right,#4D4471 0%,#4D4471 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.learn-grid .card-body:hover{
    background: #F1FCFD;
}
.learn-grid .card:hover .card-data .price{
    display: none;
}
.product-detail .card-data .price {
    display: block !important;
}
.card-data .price span{
    color: #219653;
    font-weight: 800;
    font-size: 22px;
}
.learn-grid .section-btn{
  text-align: center;
  margin-top: 2rem;
}
.bottom-section{
    float: left;
    width: 100%;
    background: url(../images/product-bg-list.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.bottom-section img{
    height: min-content;
}
.bottom-section .message-box .white-box{
    margin: 0 auto;
    margin-top: 5rem;
}
.bottom-section .section-description{
    font-weight: 400;
}
.horizontal-box .white-box{
    width: 280px;
}
.bottom-section .horizontal-box {
    margin-left: -76px;
    margin-top: -59px;
}
.bottom-section .section-title{
    margin-top: 4rem;
}
.bottom-section .btn-submit{
    padding: 10px 45px;
}

.footer-section{
    background: url(../images/footerbg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
    padding: 5rem 0;
}
.footer-section .footer-content{
    text-align: center;
}
.copyright-text{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 20px;
}
.footer-section ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    display: flex;
    transition: all 0.4s ease;
}
.footer-section .footer-title{
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-section ul li{
    margin-bottom: 18px;
}
.footer-section ul li:hover a{
    opacity: 0.5;
}
.contact-data .detail {
    display: flex;
    margin-bottom: 20px;
}
.contact-data .detail .icon {
    width: 10%;
    float: left;
}
.contact-data .detail p, .contact-data .detail a {
    margin-bottom: 0;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}
.contact-data .detail p{
    float: left;
    width: calc(100% - 10%);
}
.contact-data .detail i {
    color: #ffffff;
    font-size: 21px;
}
.contact-data .detail p .data {
    display: flex;
}

/*************************** product-listing-page ****************************/
.product-list{
    padding-top: 2rem !important;
}
.listing-title{
    float: left;
    width: 100%;
}
.listing-title .section-title{
    margin-top: 4rem;
}
.listing-title .section-description{
    margin-bottom: 3rem;
}
.fild .form-control{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 9px 29px rgba(0, 0, 0, 0.12) !important;
    border-radius: 38px;
    height: 60px;
    padding: 15px;
    color: #070F16;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
.fild .form-control:focus{
    box-shadow: none;
    border: 2px solid #2992B5;
}
.fild select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.filter-search .sort-text{
    max-width: 60px;
    width: 100%;

}
.filter-search .sort-by{
    display: flex;
    align-items: center;
}
.filter-search .form-group{
    position: relative;
}
.filter-search .form-group i{
    position: absolute;
    right: 21px;
    top: 21px;
    color: #000000;
    font-size: 18px;
}
.page-item:first-child .page-link{
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
}
.page-item:last-child .page-link{
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
}
.pagination .page-item{
    margin-right:20px !important;
    position: relative;
}

.pagination .page-item:after{
    content: "";
    width: 20px;
    position: absolute;
    height: 1px;
    background: #17708D;
    right: -20px;
    top: 18px;
    z-index: 0;
}
.pagination .page-item a{
    color: #ffffff;
    text-decoration: none;
}
.pagination li.active .page-link,
.pagination li:hover .page-link{
    border: 1px solid #17708D;
    border-radius: 50%;
    color: rgba(41,146,181,1);
    background: #FFFFFF;
}
.pagination .page-item .page-link{
    background: #FFFFFF;
    height: 38px;
    width: 38px;
    text-align: center;
    color: rgba(41,146,181,0.3);
    border-radius: 50%;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-weight: 800;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    transition: all 0.4s ease;
    position: relative;
    z-index: 3;
}
.pagination .page-item .page-link:focus{
    box-shadow: none;
}
.pagination .btn-submit{
    margin-top: 20px;
    font-weight: 800;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.pagination{
    margin-top: 3rem !important;
}

/*************************** product-deatil-page ****************************/
.product-detail{
    float: left;
    width: 100%;
    background: url(../images/Circle-Background-light.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0 8rem;
}
.product-detail .card-data .black-title{
    color: #C992EF;
}
.product-detail .read-more a{
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.product-detail .read-more{
    margin: 5px 0 13px;
}
.product-detail .card-data .price span{
    font-weight: 400;
}
.product-detail .btn-Purple{
    margin-top: 10px;
}
.shopping-cart .card-title{
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
}
.shopping-cart .card-body{
    padding: 25px;
}
.shopping-cart .card-body .close{
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 15px;
}
.shopping-cart .card-body .close i{
    color: #000000 !important;
}
.shopping-cart .cart-book-title{
    color: #39383A;
    font-weight: 800;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    max-width: 180px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.shopping-cart .card-data{
    padding: 0 !important;
}
.shopping-cart .border-bottom{
    border-bottom: 1px solid #DFE4EA !important;
    margin: 10px 0;
    width: 100%;
    padding: 0 15px;
}
.shopping-cart .book-title-purple{
    color: #4D4471;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    max-width: 180px;
    margin-bottom: 7px;
}
.shopping-cart .btn-submit{
    width: 100%;
    margin-top: 1rem;
}
.product-detail .card-description{
    font-size: 16px;
    line-height: 23px;
}
.pagination .border-none:after{
    display: none;
}


/*************************** learn-new-things-page ****************************/
.banar-content{
    float: left;
    width: 100%;
    background: url(../images/learn-new-things.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0 8rem;
}
.banar-content .horizontal-box{
    float: right;
    margin-bottom: 50px;
}
.banar-content .message-box{
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
}
.banar-content .section-title{
    margin-top: 8rem;
}
.frequently-section{
    float: left;
    width: 100%;
    background: url(../images/faq.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0 8rem;
    text-align: center;
}
.different-bg{
    background: url(../images/about-faq-bg.png) no-repeat !important;
}
.frequently-section .section-title{
    width: 100%;
    max-width: 567px;
    margin: 0 auto;
    line-height: 60px;
}
.frequently-section .card-header{
    background-color: #FFFFFF !important;
}
.card-header button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
    color: #000000;
    font-weight: 800;
    font-size: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    align-items: center;
}
.card-header button:hover{
    color: #2992B5;
}
.card-header button:focus{
    box-shadow: none;
}
.frequently-section .card{
    margin-bottom: 20px;
    border: none;
    background: none;
    box-shadow: 0px 16px 24px 3px rgba(9, 16, 84, 0.1);
    border-radius: 17px !important;
    background-color: #fff;
}
.frequently-section .card .card-body{
    text-align: left;
}
.frequently-section .accordion{
    margin-top: 5rem;
}
.frequently-section .card-header i{
    color: #4D4471;
}
.frequently-section .frequently{
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 50px 0 20px;
    font-weight: 400;
}

/*************************** About-us page ****************************/
.about-us-banar{
    float: left;
    width: 100%;
    background: url(../images/aboutus-top-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.about-us-banar .btn-submit{
    margin-top: 2rem;
}
.about-us-banar .about-title{
    text-align: center;
    margin-bottom: 3rem;
}
.about-us-banar .about-title .section-title{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.about-us-banar .about-first-image{
    margin-top: -5rem;
}
.about-us-banar .about-secound-image{
    margin-left: -6rem;
    margin-top: 5rem;
}

.about-us-banar .about-third-image{
    margin-top: 9rem;
    margin-left: 2rem;
}
.about-us-banar .about-fourth-image{
    margin-left: 2rem;
    margin-top: -1rem;
}
.about-middle{
    float: left;
    width: 100%;
    background: url(../images/about-covid19.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.about-middle .horizontal-box{
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-end;
}
.about-middle .message-box .white-box{
    margin-top: 3rem;
}
.about-middle .middle-section-image{
    text-align: center;
}
.about-middle .middle-section-image .lower-image{
    margin-left: 8rem;
}
.about-bottom{
    float: left;
    width: 100%;
    background: url(../images/about-achieve-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.about-bottom .horizontal-box .white-box p{
    color: #333333; 
    font-size: 16px;
    line-height: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
.about-bottom .horizontal-box{
    margin-bottom: 5rem;
}
.about-bottom .middle-box{
    margin-left: 6rem;
}
.about-bottom .container-fluid{
    overflow: hidden;
}
.about-bottom .three-strip{
    margin-left: 6rem;
}
.about-bottom-content .white-strip{
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    margin: 20px 0 30px;
}
.about-bottom-content .white-strip .numbers{
    color: #C992EF;
    font-size: 36px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
.about-bottom-content .white-strip .text-content{
    color: #4D4471;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
.about-bottom-content .section-title,
.about-bottom-content .btn-submit{
    margin-left: 3rem;
}
.about-bottom-content .section-title{
    width: 100%;
    max-width: 500px;
}
.about-bottom-content{
    margin-top: 3rem;
}
/*************************** Contact-us page ****************************/
.contact-us{
    text-align: center;
    padding: 8rem 0;
    float: left;
    width: 100%;
    background: url(../images/contactus-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-us-form{
    width: 100%;
    max-width: 650px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 9px 29px rgba(0, 0, 0, 0.12);
    border-radius: 38px;
    padding: 30px;
    margin: 0 auto;
}
.contact-us-form textarea{
    height: 110px !important;
    resize: none;
    border-radius: 18px !important;
}
.contact-us-form .contact-text{
    color: #070F16;
    font-weight: 800;
    font-size: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 2rem;
}
.contact-us .section-title{
    margin-bottom: 2rem;
}
.contact-us .form-control{
    height: 54px;
}   
.contact-us-form .btn-submit{
    width: 100%;
    margin: 20px 0;
}

/*************************** Login page ****************************/
.login-page{
    float: left;
    width: 100%;
    padding: 4rem 0;
    background: url(../images/login-registerbg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.fild .text-content{
    color: #070F16;
    font-weight: 500;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 20px;
}
.customer-form .form-control{
    height: 54px;
}
.login-page .customer-form .btn-submit{
    width: 100%;
}

.form-checkbox{
    position: relative;
    margin-top: 30px;
}

.form-checkbox label{
    border: 1px solid #1D1D1D;
    cursor: pointer;
    height: 19px;
    width: 19px;
    left: 0;
    position: absolute;
    top: 3px;
    border-radius: 3px;
}

.form-checkbox label:after{
    border: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 10px;
}

.form-checkbox input[type="checkbox"]{
    visibility: hidden;
}

.form-checkbox input[type="checkbox"]:checked + label{
    background-color:#1D1D1D;
    border-color:#1D1D1D;
}

.form-checkbox input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
.form-checkbox .checkbox-text{
    color: #070F16;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
.form-checkbox .checkbox-text a{
    font-weight: 600;
    color: #070F16;
}
.login-page .customer-form .forgot-pass{
    text-align: center;
}
.login-page .customer-form .forgot-pass a{
    color: #000000;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


/*************************** checkout-page ****************************/
.checkout-page{
    float: left;
    width: 100%;
    padding: 6rem 0;
    background: url(../images/login-registerbg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.checkout-page .customer-form{
    margin-left: 4rem;
}
.product-detail .card-body{
    padding: 25px;
    background: #ECF1FF !important;
}
.checkout-cart .card{
    box-shadow: 0px 16px 33px rgba(60, 60, 60, 0.25);
    border-radius: 10px;
    border: none;
    
}
.checkout-cart .card-body{
    background: #ECF1FF;
    margin: 5px;
    border-radius: 10px;
    padding: 25px;
}

.checkout-cart .card-body .card-data{
    padding: 8px 8px 0 0;
}
.checkout-cart .card-data .black-title{
    color: #C992EF;
}
.checkout-cart .cart-book-title{
    color: #39383A;
    font-weight: 800;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    max-width: 180px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.checkout-cart .card-body .close {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 15px;
}
.checkout-cart .card-body .close i {
    color: #000000 !important;
}
.checkout-cart .book-title-purple {
    color: #4D4471;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    max-width: 180px;
    margin-bottom: 7px;
}
.checkout-cart .border-bottom {
    border-bottom: 1px solid #DFE4EA !important;
    margin: 10px 0;
    width: 100%;
    padding: 0 15px;
}
.checkout-page .right-block{
    margin-left: 5rem;
}
.checkout-page .btn-submit {
    width: 100%;
    margin: 1rem 0;
}
.right-block .apply-discount{
    background: #FFFFFF;
    box-shadow: 0px 9px 29px rgba(0, 0, 0, 0.12);
    border-radius: 38px;
    padding: 20px;
}

/*************************** thank-you page ****************************/
.thank-you{
    float: left;
    width: 100%;
    background: url(../images/thanksyou-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 14rem 0;
}
.thank-you .card-body {
    background: #ECF1FF;
    margin: 5px;
    border-radius: 10px;
    padding: 50px 120px 50px 60px;
}
.thank-you .card{
    box-shadow: 0px 16px 33px rgba(60, 60, 60, 0.25);
    border-radius: 10px;
    border: none;
    margin-left: 5rem;
    margin-right: 5rem;
}
.thank-you .data-description{
    color: #000000;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
.thank-you .section-description{
    margin-bottom: 10px;
}
.thank-you .section-title{
    margin-top: 3rem;
}

/*************************** My-account page ****************************/
.p-70{
    padding: 7rem 0 9rem;
}
.user-account{
   float: left;
   width: 100%;
   background: url(../images/user-acoountbg.png) no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}
.account-white-box{
    background: #FFFFFF;
    box-shadow: 0px 9px 29px rgba(0, 0, 0, 0.12);
    border-radius: 38px;
    padding: 20px;
}
.account-white-box .content{
    padding: 20px;
    text-align: center;
}
.account-white-box .title{
    color: #070F16;
    font-weight: 500;
    font-size: 48px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-top: 2rem;
    margin-bottom: 2rem;
}
.account-white-box .content .description{
    color: #1D1D1D;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    padding-bottom: 4rem;
}
.user-account .menu-links ul li a{
    background: #4D4471;
    color: #FFFFFF;
    padding: 10px 30px;
    margin-bottom: 20px;
    max-width: 190px;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    transition: all 0.4s ease;
}
.user-account .menu-links ul li.active a{
    background: linear-gradient(160deg, #FF9900 18.29%, #F16262 76.75%);
}
.user-account .menu-links ul li a:hover{
    background: linear-gradient(160deg, #FF9900 18.29%, #F16262 76.75%);
}

.user-account .menu-links{
    margin-top: 5rem;
    margin-left: 3rem;
}
.user-account .menu-links ul li:nth-child(2),
.user-account .menu-links ul li:nth-child(3){
    margin-left: 3rem;
}

/*************************** My-order page ****************************/
.account-white-box .data-table{
    width: 100%;
    padding: 0 20px;
}
.my-order{
    padding: 20px 35px;
    margin-top: 3rem;
}
.account-white-box .data-table th{
    padding-bottom: 20px;
    color: #070F16;
    font-weight: 800;
    font-size: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.account-white-box .data-table td{
    color: #070F16;
    font-weight: 400;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-bottom: 20px;
}
.account-white-box .data-table td .more-detail{
    padding: 10px 15px;
    background: #4D4471;
    color: #FFFFFF;
    border-radius: 100px;
    float: right;
    font-weight: 800;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    transition: all 0.4s ease;
}
.account-white-box .data-table td .more-detail:hover{
    background: linear-gradient(160deg, #FF9900 18.29%, #F16262 76.75%);
}

/*************************** Address-page ****************************/
.address-page .address-title{
    color: #070F16;
    font-weight: 800;
    font-size: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    float: left;
    margin-bottom: 3rem;
}
.address-page{
    float: left;
    width: 100%;
    padding: 35px;
    margin-top: 3rem;
}
.address-page .edit{
    float: right;
    text-decoration: none;
}
.address-page .edit i{
    background: linear-gradient(to right, #F88A4C 0%, #FFC530 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.address-page .name{
    float: left;
    width: 100%;
}

.address-page .name{
    color: #070F16;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.address-page .description{
    color: #070F16;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: 2rem;
    float: left;
    margin-bottom: 20px;
}
.address-page .description span{
    display: flex;
}
.account-form .btn-submit{
    width: 100%;
    margin-top: 1rem;
}



/*RESPONSIVE MENU CSS START*/
.nav-toggle {
    z-index: 999999;
  }
  .close-menu {
    display: none;
  }
  .mainmobile-menu .active .open-menu{
    display: none;
  }
  .mainmobile-menu .active .close-menu {
    display:block;
  }
  .nav-toggle:focus {
    outline: none;
  }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
  }
  .nav-toggle span:before {
    top: -10px
  }
  .nav-toggle span:after {
    bottom: -10px
  }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .nav-toggle.active span {
    background-color: transparent
  }
  .nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0
  }
  .nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  .navicon {
    position: relative;
    height: 26px;
  }
  .navicon p {
    margin: 1px 50px 0 0;
    color: #FFF;
  }
  .navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
  }
/* Menu style */
.overlay nav {
    position: relative;
    padding: 20px 0px;        
  }
  .overlay nav ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0% 10%;
    list-style: none;
    width: 100%;
  }
  .overlay nav ul li {
    display: block;
    padding: 10px 0px;
  }
  .overlay nav ul li:last-child {
    margin-right: 0px
  }
  .overlay nav ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .overlay nav ul li a {
    background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    opacity: 1;
  }
  
  /* Effects */
  .overlay-boxify {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    margin-top: 80px;
  }
  .overlay-boxify.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 99;
    margin-top: 80px;
  }
  
  .overlay-boxify.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .overlay-boxify nav{
      margin-bottom: 5rem;
  }
  .overlay-boxify .login-link{
    margin-right: 0;
  } 



  /*  Slides css  */
.slide-main-container{ 
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
}

.stuck-btn-blue{
    background: #4D4471;
    border-radius: 100px;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    border: none;
    color: #fff;
    padding: 10px 20px;
    width: 190px;
}

.stuck-btn-yellow{
    background: linear-gradient(141.95deg, #FF9900 18.29%, #F16262 76.75%);
    border-radius: 100px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.4px;
    border: none;
    color: #fff;
    padding: 10px 20px;
}
.slide-content{
    max-width: 700px;
    background-color: #fff;
    border-radius: 70px;
    z-index: 1;
    box-shadow: 0px 8px 4px 4px #00000014;
    padding: 50px;
    text-align: center;
    margin: auto;
}

figure.slide-img {
    margin: auto;
    text-align: center;
}

.slide-box {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.slide-btn{
    position: absolute;
}
.slide-right-btn{
    right: -50px;
}
.slide-left-btn{
    left: -50px;
} 

.slide-content h2{
    font-size: 64px;
    line-height: 70px; 
    text-align: center;  
    background: -webkit-linear-gradient(180deg, #2992B5 0%, #09556D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slide-content p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px; 
    text-align: center;
    letter-spacing: -0.5px; 
    color: #000000;
    margin: 0;
}
.slide-content button{
    margin-top: 32px;
}

.slide-left-btn:before {
    content: "";
    height: 4px;
    width: 70%;
    background: #2992B5;
    right: -140px;
    position: absolute;
    top: 50%;
}

.slide-right-btn:before {
    content: "";
    height: 4px;
    width: 70%;
    background: #2992B5;
    left: -140px;
    position: absolute;
    top: 50%;
}


/*----  Custom slider--- */
.custom-slider{
    float: left;
    width: 100%;    
}
.custom-slider>section{
    display: none;
}
.custom-slider>section:first-child{
    display: block;
}