.breadcrumbs{ 
   .bg-light-gray;
    padding: 60px 0px; 
    @media only screen and (max-width: @mobile) {
        padding: 20px 0px; 
    }  
        .breadcrumb-content{
            padding: 0 40px;
            @media only screen and (max-width: @mobile) {
                padding: 0px; 
            } 
            .display-text{
                margin-bottom: 3px;
            }
            h4{
                margin-bottom: 10px;
            }
            h1{
                margin-bottom: 0;
            }
        } 

}
//.shop-breadcrumb{ 
//     .container{
//     &:before{
//        // content: "";
//         position: absolute; 
//         right: 0;
//         top: 10px; 
//         height: 95px;
//         width: 110px; 
//         background-image: url(../images/floting-illu1.svg);
//         background-repeat: no-repeat;
//         .floating;
//         @media only screen and (max-width: @mobile) {
//             content: "";
//             display: none;
//         }
//     }
// }

//}

// .contact-breadcrumb{ 
//     .container{
//     &:before{
//       //  content: "";
//         position: absolute; 
//         right: 0;
//         top: 10px; 
//         height: 70px;
//         width: 148px;
//         .floating;
//         background-image: url(../images/floting-illu5.svg);
//         background-repeat: no-repeat;

//         @media only screen and (max-width: @mobile) {
//             content: "";
//             display: none;
//         }
//     }
// }
// }