.page-footer {
    position: relative;

    @media only screen and (max-width: @mobile) {
        background-color: @bluedark  !important;
    }

    .top-footer {
        padding: 80px 0px;

        @media only screen and (max-width: @mobile) {
            padding: 30px 0px;
        }

        .footer-container {
            .footer-content {
                display: flex;
                flex-wrap: wrap;

                .f-logo-container {

                    a{
                        color: @white;

                        &:hover, &:focus{
                            color: @red;
                        }
                    }
                    @media only screen and (max-width: @mobile) {
                        .ta-c;
                    }

                    img {
                        @media only screen and (max-width: @mobile) {
                            width: 100%;
                        }
                    }

                    figcaption {
                        @media only screen and (max-width: @mobile) {
                            text-align: left;
                            margin-top: 25px;
                        }
                    }
                }

                p {
                    color: @white;
                }

                .f-main-content {
                     @media only screen and (max-width: @mobile) {
                        //   width: 100%;
                        //       margin-bottom: 30px;
                    }

                    h6 {
                        color: @white;
                        letter-spacing: 0.5px;
                        font-size: 20px;
                        line-height: 28px;
                    }

                    .footer-inner-menu {

                        li {
                            margin-bottom: 15px;

                            @media only screen and (max-width: @mobile) {
                                margin-bottom: 0;
                                padding: 5px 0;
                                //    border-top: 1px solid @blue;
                                //     border-bottom: 1px solid @blue;    
                            }

                            a {
                                font-size: 18px;
                                line-height: 28px;
                                color: @white;
                                .ff-Heebo-Regular;
                                .td-u;
                                &:hover, &:focus{
                                    color: @red;
                                }
                            }
                        }
                    }

                    // footer inner menu
                    .f-menu-contact {
                        li {
                            a {
                                text-transform: none;
                            }
                        }
                    }
                }

                .use-links {
                    // column-count: 2;
                    // column-fill: auto;
                    // column-gap: 0;
                    // @media only screen and (max-width: @mobile) { 
                    //     column-count: 1;
                   // }
                    li {
                        position: relative;

                        // @media only screen and (max-width: @mobile) {
                        //     &:before {
                        //         content: "";
                        //         height: 16px;
                        //         width: 16px;
                        //         position: absolute;
                        //         right: 0px;
                        //         top: 12px;
                        //         background-repeat: no-repeat;
                        //         background-image: url(../images/right-white.svg);
                        //     }
                        // }
                    }
                }
            }
            .footer-col-left {
                float: left;
                width: 100%;
                max-width: 453px;
                @media only screen and (max-width: @mobile) {
                    float: none;
                    max-width: 100%;
                }
            }
            .footer-col-right {
                float: right;
                width: calc(100% - 453px);
                @media only screen and (max-width: @mobile) {
                    float: none;
                    width: 100%;
                }
                & > ul {
                   & > li {
                        width: calc(100% / 4 - 30px);
                        margin: 0 15px;

                         @media only screen and (max-width: @mobile) {
                            width: calc(100% / 2 - 30px);
                              margin: 0 15px;
                              margin-bottom: 30px;
                          }
                        //   &:first-child{
                        //       margin-left: 0;
                        //   }
                        //   &:last-child{
                        //       margin-right: 0;
                        //   }

                        &:nth-child(odd){
                            margin-left: 0;
                        }
                        &:nth-child(even){
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    // top footer 

    .foot-icon {
        display: inline-block;
        height: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

 .f-exp-detail{
    @media only screen and (max-width: @mobile) {
        width: 100%;
          margin-bottom: 30px;
      }
 }