 

.home-banner{
    .home-slide{

        .home-slide-item{

            h4{
                margin-top: 50px;
                margin-bottom: 20px;
                @media only screen and (max-width: @tablet) {
                    margin-top: 20px; 
                }
            }
        }

    } 

} // home banner