.banner {
    .banner-content {
        padding: 140px 0px;
        position: relative;

        @media only screen and (max-width: @mobile) {
            padding: 30px 20px !important;
        }
    }

    .banner-content-img {
        padding: 80px 0px;
        float: right;
        width: 100%;
        text-align: right;

        @media only screen and (max-width: @mobile) {
            padding: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-right: 0px;
        }

        figure {
            margin-left: 20px;
        }
    }
}

.banner-content:before {
    content: "";
    position: absolute;
    height: 95px;
    width: 110px;
    top: 80px;
    right: -40px;
    background-image: url(../images/floting-illu1.svg);
    background-repeat: no-repeat;
    .floating;

    @media only screen and (max-width: @mobile) {
        content: "";
        display: none;
    }
}

.about-sec {
    padding: 100px 0px 260px 0px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: @mobile) {
        background-image: none !important;
        padding: 40px 0px;
    }
}


.explore-shop {
    .explore-img {
        margin-right: -90px;

        @media only screen and (max-width: @mobile) {
            margin-right: 0;
            margin-left: -20px;
        }
    }

    .explore-content {
        padding-left: 100px;

        @media only screen and (max-width: @tablet) {
            padding: 30px 0;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 200vw;
                left: -100vw;
                background-color: #1A2F76;
                top: 0;
            }
        }

        .explore-list {
            list-style: disc;

            &>li {
                margin: 5px 15px;
                color: @ocean-blue;
            }
        }
    }
}


.best-seller {
    padding: 100px 0px;

    @media only screen and (max-width: @mobile) {
        padding: 40px 0;
    }
}

.explore-expert {
    @media only screen and (max-width: @tablet) {
        background-image: none;
    }

    padding: 100px 0px;

    @media only screen and (max-width: @mobile) {
        padding: 0;
        padding-top: 40px;
    }

    &:after {
        content: "";
        position: absolute;
        height: 70px;
        width: 170px;
        bottom: 25px;
        right: 40px;
        background-image: url(../images/floting-illu4.svg);
        background-repeat: no-repeat;
        .floating;

        @media only screen and (max-width: @mobile) {
            content: "";
            display: none;
        }
    }

    .explore-img {
        margin-left: -80px;

        @media only screen and (max-width: @mobile) {
            margin: 0;
            margin-top: 40px;
            margin-right: -20px;
        }
    }

    .explore-content {
        padding-right: 100px;

        @media only screen and (max-width: @mobile) {
            padding: 0;
        }
    }
}

.product-box-container {
    .pos-r;
    transition: all 0.3s;

    &:hover {
        // transform: translateY(-4px);
        // box-shadow: 0 0 0 2px @ocean-blue, 0px 10px 10px rgba(189, 189, 189, 0.2);
    }

    &:before {
        // content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        background: #F4F4F4 url(../images/box-head-design.svg);
        background-repeat: no-repeat;
        background-size: auto;
        left: 0;
        padding: 10px;
        top: 0;
        background-position: 10px center;
    }

    background-color: @blue-3;
    border-radius: 20px;
    border: 2px solid @lime-green;

    .product-box {
        margin-top: 30px;
        padding: 20px 20px 40px 20px;

        .product-image {
            .ta-c;
            margin: auto;
            .marB30;
            max-width: 135px;

            img {
                margin: auto;
            }
        }

        .product-content {
            height: 155px;
            max-height: 155px;
            overflow: hidden;
            margin-bottom: 10px;

            small {
                color: @yellow-light;
                text-transform: capitalize;
                .ff-Heebo-Medium;
                font-weight: 800;
            }

            h4 {
                margin-bottom: 5px;
            }
        }

        .product-price {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 20px;
                line-height: 30px;
                color: @lime-green;
            }
        }

        .product-btn {
            .marT10;

            button {
                width: 100%;

                img {
                    margin-top: -3px;
                }
            }
        }
    }

    // product box

}

.slick-slide {
    margin: 0px 10px !important;
}

.devlop-features {
    padding: 30px 0px;
}

.features-main {
    .features-block {
        margin: 30px auto;
        .ta-c;

        @media only screen and (max-width: @mobile) {
            margin: 15px 0;
            text-align: left;
            padding: 0 10px;
            display: flex;
            align-items: center;
        }

        figure {
            margin-bottom: 15px;

            @media only screen and (max-width: @mobile) {
                float: left;
                margin-bottom: 0;
            }

            img {
                min-height: 50px;

                @media only screen and (max-width: @mobile) {
                    max-height: 50px;
                    min-height: auto;
                }
            }
        }

        figcaption {
            .c-white;

            @media only screen and (max-width: @mobile) {
                color: #ffffff;
                width: calc(100% - 80px);
                margin-left: auto;
            }

            h4 {
                margin-bottom: 5px;
                .ff-Heebo-Medium;
                font-weight: 600;
                font-size: 28px;
                line-height: 35px;
            }

            h4,
            p {
                color: @blue-3;
            }
        }
    }
}

.home-banner {
    @media only screen and (max-width: @mobile) {
        background-image: none;
    }

    .inner-container-r {
        @media only screen and (max-width: @mobile) {
            padding: 0;
        }
    }

    .inner-content {
        @media only screen and (max-width: @mobile) {
            padding-bottom: 60px;
        }
    }
}

.home-explore {
    @media only screen and (max-width: @tablet) {
        padding: 0;
        background-image: none;

        .g-bg-w:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 200vw;
            left: -100vw;
            background-color: #ffffff;
            top: 0;
        }

        .g-bg-w:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 200vw;
            left: -100vw;
            background-color: #ffffff;
            top: 0;
        }
    }

    .explore-content {
        &:before {
            content: "";
            display: none;
        }
    }
}

.exp-bg-m {
    @media only screen and (max-width: @tablet) {
        background-image: linear-gradient(to bottom, @light-blue 80%, @blue 20%);

        .explore-img {
            margin: 0;
            margin-top: 40px;
            margin-right: -20px;
        }
    }
}

.inner-content {
    pointer-events: all;
    padding: 40px 120px;

    @media only screen and (max-width: @tablet) {
        padding: 30px 60px; 
    }
    @media only screen and (max-width: @mobile) {
        padding: 30px 0;
        text-align: center;
    }

    &.pad-l0 {
        padding-left: 0 !important;
    }

    &.pad-r0 {
        padding-right: 0 !important;
    }

    &.pad-60 {
        padding: 60px;
        padding-right: 0;

        @media only screen and (max-width: @mobile) {
            padding: 30px 0;
        }
    }
}

.full-baner-layout {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;

    @media only screen and (max-width: @mobile) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.boost-expert {
    padding: 95px 0;

    @media only screen and (max-width: @mobile) {
        padding: 20px 0;
    }
}
// home tab
.home-tab-container {
    .dashboard-tab {
        .wfh-tab {
            border-bottom: 10px solid transparent;

            &.active {
                border-bottom: 10px solid @green  !important;
                background-color: @light-green  !important;
            }
        }

        &.bg-light-orange-tab {
            .wfh-tab {
                border-bottom: 10px solid transparent;

                &.active {
                    border-bottom: 10px solid @orange  !important;
                    background-color: @light-orange  !important;
                }
            }
        }

        .mental-tab {
            border-bottom: 10px solid transparent;

            &.active {
                border-bottom: 10px solid @orange  !important;
                background-color: @light-orange  !important;
            }
        }

        .fit-health-tab {
            border-bottom: 10px solid transparent;

            &.active {
                border-bottom: 10px solid @blue  !important;
                background-color: @light-blue  !important;
            }
        }

        .write-book-tab {
            border-bottom: 10px solid transparent;

            &.active {
                border-bottom: 10px solid @purple  !important;
                background-color: @light-purple  !important;
            }
        }

        .career-tab {
            border-bottom: 10px solid transparent;

            &.active {
                border-bottom: 10px solid @pink  !important;
                background-color: @light-pink  !important;
            }
        }

        .pet-tab {
            border-bottom: 10px solid transparent;

            &.active {
                border-bottom: 10px solid @e-light-red  !important;
                background-color: @n-dark-red  !important;
            }
        }
    }
}

.product-data-container {
    .product-icon {
        padding: 59px;
        width: 170px;
        height: 170px;
        @media only screen and (max-width: @mobile) {
            margin: auto;
            padding: 20px;
            width: 80px;
            height: 80px;
        }
    }
    .product-cat-head {
        width: calc(100% - 200px);
        margin-left: 30px;
        @media only screen and (max-width: @mobile) {
            width: 100%;
            margin: 0;
            margin-top: 30px;
        }
        a {
            color: @navy;
        }
    }
    .product-box {
        padding: 20px;
        margin-top: 35px;
        @media only screen and (max-width: @mobile) {
            display: none;
        }
        figure {
            float: left;
            margin-right: 30px;
        }
        .product-detail-container {
            padding: 10px 0;
            .product-p {
                margin-top: 25px;
            }
        }
    }
}




@media only screen and (max-width: @mobile) {
    .service-slide {
        .wfh-tab {
            border-bottom: 10px solid @green  !important;
            background-color: @light-green  !important;

        }


        .mental-tab {
            border-bottom: 10px solid @orange  !important;
            background-color: @light-orange  !important;

        }

        .fit-health-tab {
            border-bottom: 10px solid @blue  !important;
            background-color: @light-blue  !important;

        }

        .write-book-tab {
            border-bottom: 10px solid @purple  !important;
            background-color: @light-purple  !important;

        }

        .career-tab {
            border-bottom: 10px solid @pink  !important;
            background-color: @light-pink  !important;
        }

        .pet-tab {
            border-bottom: 10px solid @e-light-red  !important;
            background-color: @n-dark-red  !important;
        }
    }

    .service-head {
        padding: 15px 30px;
        text-align: center;
        width: 70%;
    margin: auto;
    }

    .service-head {
        .title {
            margin-bottom: 0;
            align-items: center;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            img {
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }


    .home-service-slide{
        .slick-slide {
            margin: 0 !important;
        }
        .slick-arrow{
            top: 0;
        }
        .slick-prev {
            left: 15px;
        }
        .slick-prev {
            left: 15px;
        }
        .slick-next { 
            right: 15px;
        }
    }
}