@import '_variables.less';
@import '_classes.less';
/* Animation */
.to-load.already-visible, .no-js .to-load, .touch .to-load, .no-cssanimations .to-load {
    opacity: 1;
}
.to-load {
    opacity: 0;
    &.loaded {
        -webkit-transform: translateY(200px);
        -ms-transform: translateY(200px);
        transform: translateY(200px);
        -webkit-animation: moveUp 1s ease forwards;
        -ms-animation: moveUp 1s ease forwards;
        animation: moveUp 1s ease forwards;
    }
    &.delay-1 {
        &.loaded {
            -webkit-animation-delay: 0.1s;
            -ms-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }
    }
    &.delay-2 {
        &.loaded {
            -webkit-animation-delay: 0.2s;
            -ms-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }
    }
}
.IE9 .to-load {
    opacity: 1;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
.delay-1 {
    -webkit-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.delay-2 {
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.touch {
    .to-load {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation: none;
        -ms-animation: none;
        animation: none;
        opacity: 1;
        .delay-1,  .delay-2 {
            -webkit-transition-delay: 0;
            -ms-transition-delay: 0;
            transition-delay: 0;
        }
    }
}
@-webkit-keyframes moveUp {
    0% {
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes moveUp {
    0% {
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width :767px) {
    .to-load {
        opacity: 1;
        &.loaded {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }
    .delay-1,  .delay-2 {
        -webkit-transition-delay: 0.0s;
        -ms-transition-delay: 0.0s;
        transition-delay: 0.0s;
    }
}



    // plus / minus animation

    
@ease: ease;
@duration: 400ms;
// Style for icon Plus/Minus
.plus-to-minus {
	width: 16px;
    height: 16px;
    z-index: 9;
	cursor: pointer;
	transition: transform @ease @duration;
	&:before, &:after {
		content: '';
		position: absolute;
		background-color: @navy;
		border-radius: 10px;
	}
	&:before {
		left: 50%;
		margin-left: -2px;
		width: 3px;
		height: 16px;
	}
	&:after {
		top: 50%;
		margin-top: -2px;
		height: 3px;
		width: 16px;
		transition: transform @ease @duration;
	}
	&.minus {
		transform: rotate( -90deg );
		&:after {
			transform: rotate( -90deg );
		}
	}
}

.icon {
    position: absolute;
    top: 15px;
    right: 15px;
    // margin-top: -30px;
    // margin-left: -30px;
}


// floating animation

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.text-container h1{
    font-size: 165px;
    color: rgba(225,225,225, .1);
    background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
    -webkit-background-clip:text;
    animation: animate 15s linear infinite;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Heebo';

    @media only screen and (max-width: @mobile){
        background-image: none;
        color: @blue-m2;
        font-size: 60px;
    }

  }
  
    @keyframes animate {
      0%{
        background-position: left 0px top 10px;
      }
      40%{
        background-position: left 800px top 10px;
    }
}


// preloading animation

.preloading-wrapper {
    width: 300px;
    height: 100%; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &.bar-right{
        position: absolute;
        top: 0;
        transform: rotate(-90deg);
        right: -30px;
        &.full-bar{
          right: -60px;
          width: 100%;
      }
    }
    &.bar-left{
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(90deg); 
        &.bottom-bar{
          top: auto;
          bottom: 47.7%;
          transform-origin: left bottom;
        }
    }
    .bar {
    //   width: calc(~"20% - 10px");
    //   margin: 5px;
    width: 100%;
    margin: 0;
      box-sizing: border-box;
      //animation-name: example;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      
      
      &.bar1 {
        height: 75px; 
        animation-name: aniBar1;
      }
      &.bar2 {
        height: 75px; 
        animation-name: aniBar3;
      }
      &.bar3 {
        height: 75px; 
        animation-name: aniBar2;
      }
      &.bar4 {
        height: 75px; 
        animation-name: aniBar5;
      }
      &.bar5 {
        height: 75px; 
        animation-name: aniBar3;
      }
      &.bar6 {
        height: 75px; 
        animation-name: aniBar6;
      }
    }  
    @keyframes example {
      0% {
      }
      50% {
        height: 25%;
      }
      100% {
      }
    }
    
    @keyframes aniBar1 {
      0% {
      }
      50% {
        height: 30%;
      }
      100% {
      }
    }
    @keyframes aniBar2 {
      0% {
      }
      50% {
        height: 70%;
      }
      100% {
      }
    }
    @keyframes aniBar3 {
      0% {
      }
      50% {
        height: 40%;
      }
      100% {
      }
    }
    @keyframes aniBar4 {
      0% {
      }
      50% {
        height: 90%;
      }
      100% {
      }
    }
    @keyframes aniBar5 {
      0% {
      }
      50% {
        height: 10%;
      }
      100% {
      }
    }
    @keyframes aniBar6 {
        0% {
        }
        50% {
          height: 30%;
        }
        100% {
        }
      }
    
    @keyframes examples {
      0% {
        &.bar1 {
          height: 10%;
        }
        &.bar2 {
          height: 50%;
        }
        &.bar3 {
          height: 20%;
        }
        &.bar4 {
          height: 40%;
        }
        &.bar5 {
          height: 30%;
        }
        &.bar6 {
            height: 60%;
          }
      }
      25% {
        &.bar1 {
          height: 50%;
        }
        &.bar2 {
          height: 30%;
        }
        &.bar3 {
          height: 70%;
        }
        &.bar4 {
          height: 10%;
        }
        &.bar5 {
          height: 40%;
        }
        &.bar6 {
            height: 60%;
          }
      }
      50% {
        &.bar1 {
          height: 70%;
        }
        &.bar2 {
          height: 50%;
        }
        &.bar3 {
          height: 60%;
        }
        &.bar4 {
          height: 30%;
        }
        &.bar5 {
          height: 40%;
        }
        &.bar6 {
            height: 10%;
          }
      }
      75% {
  
        &.bar1 {
          height: 10%;
        }
        &.bar2 {
          height: 50%;
        }
        &.bar3 {
          height: 20%;
        }
        &.bar4 {
          height: 40%;
        }
        &.bar5 {
          height: 30%;
        }
        &.bar6 {
            height: 70%;
          }
      }
      100% {
        &.bar1 {
          height: 10%;
        }
        &.bar2 {
          height: 50%;
        }
        &.bar3 {
          height: 20%;
        }
        &.bar4 {
          height: 40%;
        }
        &.bar5 {
          height: 30%;
        }
        &.bar6 {
          height: 70%;
        }
      }
    }
    @media only screen and (max-width: @mobile){
    display: none;
  }
  }