
.checkout{  
    
    .check-head{
        @media only screen and (max-width: @mobile) {
            text-align: left;
            padding-top: 30px;
         }
    }
}
.over-btn{
    // .btn{
    //     width: 100%;
    // }
}

.thank-content{
    padding-right: 92px;
    padding-top: 70px;
}

.sucessfull{
    padding-top: 154px;
    margin-top: 0;
}

 .check-head{
    padding-bottom: 40px;
    @media only screen and (max-width: @mobile) {
       text-align: center;
       padding-bottom: 20px;
    }
    h4{
        margin-bottom: 0;
    }
   // border-bottom: 1px solid #F1F1F1;
 }
.pay-sucess{
    padding: 80px 0;
    
//  .sub-total{
//     padding: 25px 40px;
// }
}

.input-inline{
    .input-container{
        float: left;
        width: 50%;
        @media only screen and (max-width: @mobile) { 
            float: none;
            width: 100%; 
            }
        &:last-child{
            margin-left: 20px;
            width: calc(50% - 20px);
            @media only screen and (max-width: @mobile) { 
                margin-left: 0;
                width: 100%;
                }
        }
    }
}

.other-tab{
   // padding: 25px 40px;
   //  border-bottom: 1px solid #F1F1F1;

    h6, h3{
        margin-bottom: 0;
    }
}
.checkout{
.join-f{
    .selectric{
        margin-bottom: 20px;
    }
}
}


.checkbox-inner-content{
    pointer-events: all;
    padding: 60px;
    @media only screen and (max-width: @mobile) {
        padding: 0; 
        text-align: left;
    } 
    &.pad-l0{
        padding-left: 0 !important; 
    }   
    &.pad-r0{
        padding-right: 0 !important;
    }
    &.pad-60{
        padding: 60px;
        padding-right: 0;
    }
}

.other-contact{
    .other-tab{
        padding: 40px 0;
        @media only screen and (max-width: @mobile) {
            padding: 20px 0;  
        } 
    }
}


.odr-summery{
    .table {
        .order-thead{
            padding: 25px 0; 
            @media only screen and (max-width: @mobile) {  
                position: absolute;
                left: -99999px;
                overflow: hidden;
                width: 0px;
                height: 0px;
            }
        }
        .order-tbody{           
         .order-tr{
               padding: 25px 0; 
               @media only screen and (max-width: @mobile) { 
                padding: 10px 0;
               }
               .order-td{
                @media only screen and (max-width: @mobile) { 
                    &:before{
                        content: attr(data-title);
                        display: inline-block;
                        width: 100%;
                        min-width: 100px;
                        font-weight: bold;
                    }
                }
               }
            }
        }
    }
}



.inner-p-section{
    @media only screen and (max-width: @mobile) {  
    .inner-p-img{
        height: 440px;
        // background-size: contain !important;
    }
} 
}

.other-tab{
    .w75{
       // width: 60%;
    }
}
@media only screen and (max-width: @mobile) {  
.checkout-overview{
    padding-bottom: 30px;
}

}

@media only screen and (max-width: @small-mobile) {  
    .other-tab{
        .w75{
            width: 100%;
            margin-bottom: 10px;
        }
        .over-btn{
            width: 100%;

            .btn{
                width: 100%;
            }
        }
    }
}