.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

/* Positions */

.pos-r {
    position: relative;
}

.pos-s {
    position: static;
}

.pos-a {
    position: absolute;
}

.pos-f {
    position: fixed;
}

.t-a {
    top: auto;
}

.r-a {
    right: auto;
}

.b-a {
    bottom: auto;
}

.l-a {
    left: auto;
}

.z-a {
    z-index: auto;
}

.z-1 {
    z-index: 1;
}

/* Visual Formatting */

.fl-n {
    float: none;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.fl-fix {
    float: left;
    width: 100%;
}

.cl-n {
    clear: none;
}

.cl-l {
    clear: left;
}

.cl-r {
    clear: right;
}

.cl-b {
    clear: both;
}

.d-n {
    display: none;
}

.d-b {
    display: block;
}

.d-i {
    display: inline;
}

.d-ib {
    display: inline-block;
}

.d-f {
    display: flex;
}

.d-if {
    display: inline-flex;
}

.d-li {
    display: list-item;
}

.d-tb {
    display: table;
}

.d-tbc {
    display: table-cell;

    @media only screen and (max-width: @mobile) {
        display: table;
    }
}

.d-tbcl {
    display: table-column;
}

.d-tbr {
    display: table-row;
}

.d-itb {
    display: inline-table;
}

.d-tbcp {
    display: table-caption;
}

.d-tbclg {
    display: table-column-group;
}

.d-tbhg {
    display: table-header-group;
}

.d-tbfg {
    display: table-footer-group;
}

.d-tbrg {
    display: table-row-group;
}

.v-v {
    visibility: visible;
}

.v-h {
    visibility: hidden;
}

.v-c {
    visibility: collapse;
}

.ov-v {
    overflow: visible;
}

.ovx-v {
    overflow-x: visible;
}

.ovy-v {
    overflow-y: visible;
}

.ov-h {
    overflow: hidden;
}

.ovx-h {
    overflow-x: hidden;
}

.ovy-h {
    overflow-y: hidden;
}

.ov-s {
    overflow: scroll;
}

.ovx-s {
    overflow-x: scroll;
}

.ovy-s {
    overflow-y: scroll;
}

.ov-a {
    overflow: auto;
}

.ovx-a {
    overflow-x: auto;
}

.ovy-a {
    overflow-y: auto;
}

.zoo,
.zm {
    zoom: 1;
}

.cp-a {
    clip: auto;
}

.rsz-n {
    resize: none;
}

.rsz-b {
    resize: both;
}

.rsz-h {
    resize: horizontal;
}

.rsz-v {
    resize: vertical;
}

.cur-a {
    cursor: auto;
}

.cur-d {
    cursor: default;
}

.cur-c {
    cursor: crosshair;
}

.cur-he {
    cursor: help;
}

.cur-m {
    cursor: move;
}

.cur-p {
    cursor: pointer;
}

.cur-t {
    cursor: text;
}

/* Margin */

.m-a {
    margin: auto;
}

.mt-a {
    margin-top: auto;
}

.mr-a {
    margin-right: auto;
}

.mb-a {
    margin-bottom: auto;
}

.ml-a {
    margin-left: auto;
}

/* Box Sizing */

.bxz-bb {
    box-sizing: border-box;
}

.bxz-cb {
    box-sizing: content-box;
}

.w-a {
    width: auto;
}

.h-a {
    height: auto;
}

.maw-n {
    max-width: none;
}

.mah-n {
    max-height: none;
}

.vh {
    height: 100vh;
}

.vw {
    width: 100vw;
}

/* Font */

.fw-n {
    font-weight: normal;
}

.fw-b {
    font-weight: bold;
}

.fw-br {
    font-weight: bolder;
}

.fw-lr {
    font-weight: lighter;
}

.fs-i {
    font-style: italic;
}

.fs-n {
    font-style: normal;
}

.fs-o {
    font-style: oblique;
}

.fv-n {
    font-variant: normal;
}

.fv-sc {
    font-variant: small-caps;
}

.fza-n {
    font-size-adjust: none;
}

.ff-s {
    font-family: serif;
}

.ff-ss {
    font-family: sans-serif;
}

.ff-c {
    font-family: cursive;
}

.ff-f {
    font-family: fantasy;
}

.ff-m {
    font-family: monospace;
}

.ff-a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.ff-t {
    font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
}

.ff-v {
    font-family: Verdana, Geneva, sans-serif;
}

.fst-n {
    font-stretch: normal;
}

.fst-c {
    font-stretch: condensed;
}

.fst-sc {
    font-stretch: semi-condensed;
}

.fst-ec {
    font-stretch: extra-condensed;
}

.fst-uc {
    font-stretch: ultra-condensed;
}

.fst-e {
    font-stretch: expanded;
}

.fst-se {
    font-stretch: semi-expanded;
}

.fst-ee {
    font-stretch: extra-expanded;
}

.fst-ue {
    font-stretch: ultra-expanded;
}

/* Text */

.va-t {
    vertical-align: top;
}

.va-m {
    vertical-align: middle;
}

.va-b {
    vertical-align: bottom;
}

.va-tt {
    vertical-align: text-top;
}

.va-tb {
    vertical-align: text-bottom;
}

.va-sup {
    vertical-align: super;
}

.va-sub {
    vertical-align: sub;
}

.va-bl {
    vertical-align: baseline;
}

.ta-l {
    text-align: left;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-j {
    text-align: justify;
}

.td-n {
    text-decoration: none !important;
}

.td-u {
    text-decoration: underline;
}

.td-o {
    text-decoration: overline;
}

.td-l {
    text-decoration: line-through;
}

.te-n {
    text-emphasis: none;
}

.te-ac {
    text-emphasis: accent;
}

.te-dt {
    text-emphasis: dot;
}

.te-c {
    text-emphasis: circle;
}

.te-ds {
    text-emphasis: disc;
}

.te-b {
    text-emphasis: before;
}

.te-a {
    text-emphasis: after;
}

.tt-n {
    text-transform: none;
}

.tt-c {
    text-transform: capitalize;
}

.tt-u {
    text-transform: uppercase;
}

.tt-l {
    text-transform: lowercase;
}

.tsh-n {
    text-shadow: none;
}

.lts-n {
    letter-spacing: normal;
}

.lts-2 {
    letter-spacing: 2px;
}

.whs-n {
    white-space: normal;
}

.whs-p {
    white-space: pre;
}

.whs-nw {
    white-space: nowrap;
}

.whs-pw {
    white-space: pre-wrap;
}

.whs-pl {
    white-space: pre-line;
}

.wob-n {
    word-break: normal;
}

.wob-k {
    word-break: keep-all;
}

.wob-ba {
    word-break: break-all;
}

.wow-nm {
    word-wrap: normal;
}

.wow-b {
    word-wrap: break-word;
}

/* Background */

.bg-n {
    background: none !important;
}

.bgc-w {
    background-color: #ffffff;
}

.bgc-b {
    background-color: #000000;
}

.bgc-t {
    background-color: transparent;
}

.bgr-n {
    background-repeat: no-repeat;
}

.bgr-x {
    background-repeat: repeat-x;
}

.bgr-y {
    background-repeat: repeat-y;
}

.bga-f {
    background-attachment: fixed;
}

.bga-s {
    background-attachment: scroll;
}

.bgp-tl {
    background-position: top left;
}

.bgp-tc {
    background-position: top center;
}

.bgp-tr {
    background-position: top right;
}

.bgp-cl {
    background-position: center left;
}

.bgp-cc {
    background-position: center center;
}

.bgp-cr {
    background-position: center right;
}

.bgp-bl {
    background-position: bottom left;
}

.bgp-bc {
    background-position: bottom center;
}

.bgp-br {
    background-position: bottom right;
} 

.bgsz-a {
    background-size: auto;
}

.bgsz-ct {
    background-size: contain;
}

.bgsz-cv {
    background-size: cover;
}

.ipad .bga-f,
.iphone .bga-f {
    background-attachment: scroll;
}

/* Outline */

.ols-n {
    outline-style: none;
}

.ols-dt {
    outline-style: dotted;
}

.ols-ds {
    outline-style: dashed;
}

.ols-s {
    outline-style: solid;
}

.ols-db {
    outline-style: double;
}

.ols-g {
    outline-style: groove;
}

.ols-r {
    outline-style: ridge;
}

.ols-i {
    outline-style: inset;
}

.ols-o {
    outline-style: outset;
}

.olc {
    outline-color: #000000;
}

/* Tables */

.tbl-a {
    table-layout: auto;
}

.tbl-f {
    table-layout: fixed;
}

.cps-t {
    caption-side: top;
}

.cps-b {
    caption-side: bottom;
}

.ec-s {
    empty-cells: show;
}

.ec-h {
    empty-cells: hide;
}

/* Border */

.bd-n {
    border: none;
}

.bdcl-c {
    border-collapse: collapse;
}

.bdcl-s {
    border-collapse: separate;
}

.bdc-t {
    border-color: transparent;
}

.bdi-n {
    border-image: none;
}

.bds-n {
    border-style: none;
}

.bds-h {
    border-style: hidden;
}

.bds-dt {
    border-style: dotted;
}

.bds-ds {
    border-style: dashed;
}

.bds-s {
    border-style: solid;
}

.bds-db {
    border-style: double;
}

.bds-i {
    border-style: inset;
}

.bds-o {
    border-style: outset;
}

.bdt-n {
    border-top: none;
}

.bdts-n {
    border-top-style: none;
}

.bdtc-t {
    border-top-color: transparent;
}

.bdr-n {
    border-right: none;
}

.bdrs-n {
    border-right-style: none;
}

.bdrc-t {
    border-right-color: transparent;
}

.bdb-n {
    border-bottom: none;
}

.bdbs-n {
    border-bottom-style: none;
}

.bdbc-t {
    border-bottom-color: transparent;
}

.bdl-n {
    border-left: none;
}

.bdls-n {
    border-left-style: none;
}

.bdlc-t {
    border-left-color: transparent;
}

.bdrs {
    border-radius: 0;
}

.bdrs-5 {
    border-radius: 5px;
}

.bdrs-11 {
    border-radius: 11px;
}

/* Lists */

.lis-n {
    list-style: none;
}

.lisp-i {
    list-style-position: inside;
}

.lisp-o {
    list-style-position: outside;
}

.list-n {
    list-style-type: none;
}

.list-d {
    list-style-type: disc;
}

.list-c {
    list-style-type: circle;
}

.list-s {
    list-style-type: square;
}

.list-dc {
    list-style-type: decimal;
}

.list-dclz {
    list-style-type: decimal-leading-zero;
}

.list-lr {
    list-style-type: lower-roman;
}

.list-ur {
    list-style-type: upper-roman;
}

/* Print */

.pgbb-au {
    page-break-before: auto;
}

.pgbb-al {
    page-break-before: always;
}

.pgbb-l {
    page-break-before: left;
}

.pgbb-r {
    page-break-before: right;
}

.pgbi-au {
    page-break-inside: auto;
}

.pgbi-av {
    page-break-inside: avoid;
}

.pgba-au {
    page-break-after: auto;
}

.pgba-al {
    page-break-after: always;
}

.pgba-l {
    page-break-after: left;
}

.pgba-r {
    page-break-after: right;
}

/* Flex */

.ac-c {
    align-content: center;
}

.ac-fe {
    align-content: flex-end;
}

.ac-fs {
    align-content: flex-start;
}

.ac-s {
    align-content: stretch;
}

.ac-sa {
    align-content: space-around;
}

.ac-sb {
    align-content: space-between;
}

.ai-b {
    align-items: baseline;
}

.ai-c {
    align-items: center;
}

.ai-fe {
    align-items: flex-end;
}

.ai-fs {
    align-items: flex-start;
}

.ai-s {
    align-items: stretch;
}

.as-a {
    align-self: auto;
}

.as-b {
    align-self: baseline;
}

.as-c {
    align-self: center;
}

.as-fe {
    align-self: flex-end;
}

.as-fs {
    align-self: flex-start;
}

.as-s {
    align-self: stretch;
}

.fxd-c {
    flex-direction: column;
}

.fxd-cr {
    flex-direction: column-reverse;
}

.fxd-r {
    flex-direction: row;
}

.fxd-rr {
    flex-direction: row-reverse;
}

.fxw-n {
    flex-wrap: nowrap;
}

.fxw-w {
    flex-wrap: wrap;
}

.fxw-wr {
    flex-wrap: wrap-reverse;
}

.jc-c {
    justify-content: center;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-fs {
    justify-content: flex-start;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

/* Animation */

.animdir-a {
    animation-direction: alternate;
}

.animdir-ar {
    animation-direction: alternate-reverse;
}

.animdir-n {
    animation-direction: normal;
}

.animdir-r {
    animation-direction: reverse;
}

.animfm {
    animation-fill-mode: both;
}

.animfm-b {
    animation-fill-mode: backwards;
}

.bfv-h {
    backface-visibility: hidden;
}

.bfv-v {
    backface-visibility: visible;
}

/* Others */

.tov-c {
    text-overflow: clip;
}

.tov-e {
    text-overflow: ellipsis;
}

.tso-cc {
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.text-hide {
    background-color: transparent;
    border: 0;
    color: transparent;
    font-family: a;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
}

.transition {
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.transition-none {
    -ms-transition: none;
    -webkit-transition: none;
    transition: none;
}

.transform-center {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    transform-style: preserve-3d;
    width: 100%;
    z-index: 1;
}

.translateY-50 {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.translateY-100 {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.translateX-50 {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.translateX-100 {
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.user-select-none {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Widths */

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;

    @media only screen and (max-width: @mobile) {
        width: 100%;
    }
}

.w45 {
    width: 45%;

    @media only screen and (max-width: @mobile) {
        width: 100%;
    }
}

.w50 {
    width: 50%;

    @media only screen and (max-width: @mobile) {
        width: 100%;
    }
}

.w55 {
    width: 55%;

    @media only screen and (max-width: @mobile) {
        width: 100%;
    }
}

.w60 {
    width: 60%;

    @media only screen and (max-width: @mobile) {
        width: 100%;
    }
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

/* Margins */

.mar5 {
    margin: 5px;
}

.mar10 {
    margin: 10px;
}

.mar15 {
    margin: 15px;
}

.mar20 {
    margin: 20px;
}

.mar25 {
    margin: 25px;
}

.mar30 {
    margin: 30px;
}

.marT1 {
    margin-top: 1px;
}

.marT2 {
    margin-top: 2px;
}

.marT3 {
    margin-top: 3px;
}

.marT4 {
    margin-top: 4px;
}

.marT5 {
    margin-top: 5px;
}

.marT10 {
    margin-top: 10px;
}

.marT15 {
    margin-top: 15px;
}

.marT20 {
    margin-top: 20px;
}

.marT25 {
    margin-top: 25px;
}

.marT30 {
    margin-top: 30px;
}

.marT35 {
    margin-top: 35px;
}

.marT40 {
    margin-top: 40px;
}

.marT50 {
    margin-top: 50px;
}

.marT60 {
    margin-top: 60px;
}

.marT70 {
    margin-top: 70px;
}

.marB0 {
    margin-bottom: 0px !important;
}

.marB5 {
    margin-bottom: 5px;
}

.marB10 {
    margin-bottom: 10px;
}

.marB15 {
    margin-bottom: 15px;
}

.marB20 {
    margin-bottom: 20px;
}

.marB25 {
    margin-bottom: 25px;
}

.marB30 {
    margin-bottom: 30px;
}

.marB35 {
    margin-bottom: 35px;
}

.marB40 {
    margin-bottom: 40px;
}

.marB50 {
    margin-bottom: 50px;
}

.marB60 {
    margin-bottom: 60px;
}

.marL1 {
    margin-left: 1px;
}

.marL2 {
    margin-left: 2px;
}

.marL3 {
    margin-left: 3px;
}

.marL4 {
    margin-left: 4px;
}

.marL5 {
    margin-left: 5px;
}

.marL10 {
    margin-left: 10px;
}

.marL15 {
    margin-left: 15px;
}

.marL20 {
    margin-left: 20px;
}

.marL25 {
    margin-left: 25px;
}

.marL30 {
    margin-left: 30px;
}

.marL35 {
    margin-left: 35px;
}

.marL40 {
    margin-left: 40px;
}

.marR1 {
    margin-right: 1px;
}

.marR2 {
    margin-right: 2px;
}

.marR3 {
    margin-right: 3px;
}

.marR4 {
    margin-right: 4px;
}

.marR5 {
    margin-right: 5px;
}

.marR10 {
    margin-right: 10px;
}

.marR15 {
    margin-right: 15px;
}

.marR20 {
    margin-right: 20px;
}

.marR25 {
    margin-right: 25px;
}

.marR30 {
    margin-right: 30px;
}

.marR40 {
    margin-right: 40px;
}

.noMar {
    margin: 0 !important;
}

.noBMar {
    margin-bottom: 0 !important;
}

.noTMar {
    margin-top: 0 !important;
}

.noLMar {
    margin-left: 0 !important;
}

.noRMar {
    margin-right: 0 !important;
}

/* Paddings */

.pad0 {
    padding: 0px;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.pad15 {
    padding: 15px;
}

.pad20 {
    padding: 20px;
}

.pad25 {
    padding: 25px;
}

.pad30 {
    padding: 30px;
}

.pad40 {
    padding: 40px;
}

.padT0 {
    padding-top: 0;
}

.padT1 {
    padding-top: 1px;
}

.padT2 {
    padding-top: 2px;
}

.padT3 {
    padding-top: 3px;
}

.padT4 {
    padding-top: 4px;
}

.padT5 {
    padding-top: 5px;
}

.padT10 {
    padding-top: 10px;
}

.padT15 {
    padding-top: 15px;
}

.padT20 {
    padding-top: 20px;
}

.padT25 {
    padding-top: 25px;
}

.padT30 {
    padding-top: 30px;
}

.padT40 {
    padding-top: 40px;
}

.padT50 {
    padding-top: 50px;
}

.padT60 {
    padding-top: 60px;
}

.padT70 {
    padding-top: 70px;
}

.padT80 {
    padding-top: 80px;

    @media only screen and (max-width: @mobile) {
        padding-top: 40px;
    }
}

.padT90 {
    padding-top: 90px;
}

.padT100 {
    padding-top: 100px;
}

.padL0 {
    padding-left: 0;
}

.padL1 {
    padding-left: 1px;
}

.padL2 {
    padding-left: 2px;
}

.padL3 {
    padding-left: 3px;
}

.padL5 {
    padding-left: 5px;
}

.padL10 {
    padding-left: 10px;
}

.padL15 {
    padding-left: 15px;
}

.padL20 {
    padding-left: 20px;
}

.padL25 {
    padding-left: 25px;
}

.padL30 {
    padding-left: 30px;
}

.padL40 {
    padding-left: 40px;

    @media only screen and (max-width: @mobile) {
        padding-left: 0;
    }
}

.padL50 {
    padding-left: 50px;
}

.padR0 {
    padding-right: 0;
}

.padR1 {
    padding-right: 1px;
}

.padR2 {
    padding-right: 2px;
}

.padR3 {
    padding-right: 3px;
}

.padR5 {
    padding-right: 5px;
}

.padR10 {
    padding-right: 10px;
}

.padR15 {
    padding-right: 15px;
}

.padR20 {
    padding-right: 20px;
}

.padR25 {
    padding-right: 25px;
}

.padR30 {
    padding-right: 30px;
}

.padR35 {
    padding-right: 35px;
}

.padR40 {
    padding-right: 40px;

    @media only screen and (max-width: @mobile) {
        padding-right: 0;
    }

}

.padR50 {
    padding-right: 50px;
}

.padB10 {
    padding-bottom: 10px;
}

.padB15 {
    padding-bottom: 15px;
}

.padB20 {
    padding-bottom: 20px;
}

.padB25 {
    padding-bottom: 25px;
}

.padB30 {
    padding-bottom: 30px;
}

.padB40 {
    padding-bottom: 40px;
}

.padB50 {
    padding-bottom: 50px;
}

.padB60 {
    padding-bottom: 60px;
    @media only screen and (max-width: @mobile) {
        padding-bottom: 30px;
    }
}

.padB70 {
    padding-bottom: 70px;
}

.padB80 {
    padding-bottom: 80px;

    @media only screen and (max-width: @mobile) {
        padding-bottom: 40px;
    }
}

.padB90 {
    padding-bottom: 90px;
}

.padB100 {
    padding-bottom: 100px;
}

.padTB5 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.padTB10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padTB60 {
    padding-bottom: 60px;
    padding-top: 60px;

    @media only screen and (max-width: @mobile) {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.padTB150 {
    padding-bottom: 150px;
    padding-top: 150px;

    @media only screen and (max-width: @mobile) {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

.noTPad {
    padding-top: 0 !important;
}

.noBPad {
    padding-bottom: 0 !important;
}

.noLPad {
    padding-left: 0 !important;
}

.noRPad {
    padding-right: 0 !important;
}

.noPad {
    padding: 0 !important;
}

.link-blue {
    font-size: 18px;
    color: @blue;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        width: 0;
        height: 1px;
        background-color: @blue;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &:hover:after {
        width: 100%;
        .transition;
    }
}

.center-maker {
    width: 100vw;
    display: inline-block;
    position: relative;
    pointer-events: none;
}

.center-r {
    left: -50vw;
    @media only screen and (max-width: @mobile) {
      left: 0;
    }
}
.w55{
    .center-r {
        left: -45vw;
        @media only screen and (max-width: @mobile) {
          left: 0;
        }
    }
}

.container {
    &.max-w-1060 {
        max-width: 1060px;
    }
}

.col-4-6 {
    width: ~"calc(100% - 600px ) !important";
    padding-right: 56px;

    @media only screen and (max-width: @tablet) {
        width: 100% !important;
        padding-right: 0px;
        margin-bottom: 20px;
    }
}

.col-6-6 {
    width: 100% !important;
    max-width: 600px !important;
    margin-left: 0 !important;

    @media only screen and (max-width: @tablet) {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.max-420 {
    max-width: 420px;
    margin: auto;

    @media only screen and (max-width: @mobile) {
        max-width: 100%;
    }
}

.max-300 {
    max-width: 300px;

    @media only screen and (max-width: @mobile) {
        max-width: 100%;
    }
}

.ta-cm {
    @media only screen and (max-width: @mobile) {
        text-align: center;
    }
}

.box-shadow {
    box-shadow: 0px 10px 10px rgba(189, 189, 189, 0.2);
}

.box-shadowN {
    box-shadow: 0px 10px 10px rgba(189, 189, 189, 0);
}

.box-shadowP {
    box-shadow: 0px 10px 15px 0 #c54d7126;
}

.box-shadowPN {
    box-shadow: 0px 10px 15px 0 #c54d7100;
}

.min-h630 {
    min-height: 630px;
    @media only screen and (max-width: @mobile) {
        min-height: auto;
    }
}

.bullet li {
    list-style: disc;
    list-style-position: inside;
    .ff-Heebo-Medium;
    font-size: 26px;
    line-height: 38px;
}

.bullet li::marker {
    color: @lime-green;

}

.bg-gray-gr:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 350px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.2;


    @media only screen and (max-width: @mobile) {
        content: "";
        display: none;
    }
}

.bg-gray-gr {
    background: #393e46;

    @media only screen and (max-width: @mobile) {
        background: @yellow-light;
    }
}