@import '_variables.less';
@import '_classes.less';
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    background: @white;
    color: @white;
    width: 100%;
    min-height: 100%;
}
html {
    font-size: 16px;
    overflow-y: scroll;
}
body {  
    .ff-Heebo-Regular;
}
table {
    display: table;
    width: 100%;
    table-layout: fixed;
    thead{
        th{
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            .ff-Heebo-Medium;
        }
    }
    tbody{
     tr{    width: 100%;
        padding: 20px 40px;
        border-bottom: 1px solid @gray;
    }
}
    td,  th {
         .ta-l;
    }
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #F1F1F1;
}
em, i {
    font-style: italic;
}
::-moz-selection {
    color: @white;
    background: rgba(107, 122, 143, 0.75);
}
::selection {
    color: @white;
    background: rgba(107, 122, 143, 0.75);
}
strong, b { 
    .ff-Heebo-Medium;
}
video, iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.page-title {
    padding: 0 0 20px;
    .title{
        display: inline-block;
        padding-top: 40px;
    }
}
.page-title-wrapper {
    padding: 20px;
    .page-title {
        padding: 25px 0 20px;
        margin: 0;
        text-transform: uppercase;
    }
}
.title-box{
    .title{
        padding-bottom: 10px;
    }
}
/* Global Styles */
.col-2, .col-3, .col-4, .col-2-right{
    float: left;
    width: 100%;
    .col {
        float: left;
        min-height: 1px;
    }
    @media only screen and (max-width: @tablet) { 
        width: 100%; 
    }
} 
.col-2 {
    .col {
        width: 48%;
        width: ~'calc(100% / 2 - 20px)';
        margin-left: 40px;
        &:nth-child(2n + 1) {
            margin-left: 0;
            clear: left;
        }
        &.w60{
            width: 60%;
        }
        &.w40{
            width: 40%;
        }
        @media only screen and (max-width: @tablet) { 
            width: 100%;
            margin-left: 0px;
            &.w60{
                width: 100%;
            }
            &.w40{
                width: 100%;
            }
        }
    }
    
}
.col-3 {
    .col {
        width: 33.33333333%;
        width: ~'calc(100% / 3)';
        &:nth-child(3n + 1) {
            clear: left;
        }
    }
}
.col-4 {
    .col {
        width: 25%;
        &:nth-child(4n + 1) {
            clear: left;
        }
    }
}
.col-2-right{
    & > .col{
        width: 100%;
        max-width: ~'calc(100% - 410px)';
        & + .col{
            max-width: 410px;
        }
    }
}
.table-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
    .col {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
.join-f{
    z-index: 10;
    .pos-r;
    .col-2 .col {
        width: ~"calc(100% / 2 - 12px)";
        margin-left: 24px;
        @media only screen and (max-width: @tablet-p) { 
            width: 100%;
            margin-left: 0px;
        }
    }
    .col-2 .col:nth-child(2n + 1){
        margin-left: 0;
    }
}
.container{ 
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1340px;
    position: relative;
}

.action-box{
    margin-top: 30px;
}

.dot-tb{
    position: relative;
    z-index: 0; 
    &.dot-tb-r{
        &::before{
            left: 0;
            right: auto;
        }
        &::after{
            left: auto;
            right: 0;
        }

    }
    &::before{
        content: ""; 
        @media only screen and (max-width: @tablet-p) { 
            display: none;
          }
    }
    &::after{
        content: ""; 
        @media only screen and (max-width: @tablet-p) { 
            display: none;
          }
    }
}


.dot-cc{
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        height: 280px;
        width: 235px;
        background-image: url(../images/Dots-down.svg);
        background-repeat: no-repeat;
        right: 0px;
        top: 20%;
        @media only screen and (max-width: @tablet-p) {
            content: "";
            display: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        height: 280px;
        width: 235px;
        background-image: url(../images/Dots-up.svg);
        background-repeat: no-repeat;
        left: 0;
        top: 20%;

        @media only screen and (max-width: @tablet-p) {
            content: "";
            display: none;
        }
    } 
} 

.block-4{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    & >  li{
        width: calc(100% / 4 - 24px) !important;
        margin: 12px;
        @media only screen and (max-width: @tablet-p) { 
            width: calc(100% / 3 - 24px) !important;
        }
        @media only screen and (max-width: @mobile) { 
            width: 100% !important;
        }
    }
}

.block-m20{ 
    li{
        margin: 10px;
    }
}

.block-3{
    .d-f;
    .fxw-w;
    margin: 0 -10px;
  & > li, .block-div-3{
        width: calc(100% / 3 - 20px) !important;
        @media only screen and (max-width: @mobile) { 
            width: calc(100% / 2) !important;
        }
        @media only screen and (max-width: @small-mobile) { 
            width: 100% !important;
        }
    }
}
.block-2{
    .d-f;
    .fxw-w;
    margin: 0 -10px;
  & > li, .block-div-3{
        width: calc(100% / 2 - 20px) !important;
        margin: 10px;
        @media only screen and (max-width: @mobile) { 
            width: 100% !important;
            margin: 10px 0;
        } 
    }
}

.block-m10{ 
    li, .block-div-3{
        margin: 10px;
    }
}


.block-6{
    .d-f;
    & > li, .block-div-6{
        width: calc(100% / 6 - 24px) !important;
        @media only screen and (max-width: @tablet) { 
            width: calc(100% / 3 - 24px) !important;
        }
        @media only screen and (max-width: @mobile) { 
            width: 100% !important;
        }
        @media only screen and (max-width: @small-mobile) { 
            width: 100% !important;
        }
    }
}
.block-m12{ 
    li, .block-div-6{
        margin: 12px;
    }
}

.bdr-b{
    border-bottom: 1px solid @dark-gray2; 
}

.db-m{
 display: none  !important;
}

.dn-m{
    display: block !important;
}
.db-t{
    display: none;
}

@media only screen and (max-width: @tablet) {
    .w100-t{
        width: 100% !important; 
    }
    .marB20-t{
        margin-bottom: 20px;
    } 
    .dn-t{
        display: none;
    }
    .db-t{
        display: block;
    }
}

@media only screen and (max-width: @mobile) {
.dn-m{
    display: none !important;
}
.db-m{
    display: block !important;
}
.w100-m{
    width: 100% !important;
}
.marB20-m{
    margin-bottom: 20px;
}
.ta-l-m{
    text-align: left;
}
}
@media only screen and (max-width: @small-mobile) {
    .w100-sm{
        width: 100% !important; 
    }
    .marB20-sm{
        margin-bottom: 20px;
    }
}


.h-192{
    max-height: 192px;
}


.sec-head{ 
    .pos-r;
   & > .btn{
        margin-top: 30px;
    }
}


.inner-container-r {
    float: right;
    width: 100%; 
    max-width: 650px;
    padding-right: 80px;
    padding-left: 20px;
    &.padding-r0{
        padding-right: 0px;
    }
    @media only screen and (max-width: @medium-desktop) { 
        padding: 0px 20px;
    }
    @media only screen and (max-width: @tablet) { 
        padding: 0px;
    }

    @media only screen and (max-width: @mobile) {
        float: none;
        width: 100%; 
        padding-right: 0px; 
        padding: 0;
    }
}
 
// .order-2{
//     @media only screen and (max-width: @mobile) {
//         order: 2;
//     }
// }


.bg-m{
    .pos-r;
    .ov-h;
    @media only screen and (max-width: @mobile) {
        .g-bg-lb{
            .pos-r;
            &:before{
                content: "";
                position: absolute;
                height: 100%;
                width: 200vw;
                left: -100vw;
                background-color: @light-blue; 
                top: 0;
            }
        }
        .g-bg-b{
            .pos-r;
            &:before{
                content: "";
                position: absolute;
                height: 100%;
                width: 200vw;
                left: -100vw;
                background-color: @blue;
                top: 0;
            }
        }
        .g-bg-w{
            .pos-r;
            &:before{
                content: "";
                position: absolute;
                height: 100%;
                width: 200vw;
                left: -100vw;
                background-color: @white;
                top: 0;
            }
        } 
        // .g-bg-b2{
        //     .pos-r;
        //     &:before{
        //         content: "";
        //         position: absolute;
        //         height: 10%;
        //         width: 200vw;
        //         left: -100vw;
        //         background-image: linear-gradient(to right, @light-blue 50%, @white 50%);
        //         bottom: 0;
        //     }
        // }
    }
}


@media only screen and (max-width: @mobile) {

    .menu-open body {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

.min-h630{
    .bgsz-cv{
        min-height: 375px;
    }
}

.order-container{
    display: flex;
    flex-wrap: wrap;
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
    .order3{
        order: 3;
    }
}
.dis-n-m{
    display: none;
}

.db-m{
    display: block;
}
}