@import 'lib/slick.less';
@import 'lib/slick-theme.less';
@import 'lib/jquery.fancybox.less';
@import 'lib/materialize.less';
@import 'forms/_forms.less';
@import 'header/_header.less';
@import 'footer/_footer.less';
@import 'home/_home.less';  
@import 'misc/_misc.less';
@import '_checkout.less';
@import '_my-account.less';

.main {
    padding-top:80px;
    // @media only screen and (max-width: @mobile) {
    //     padding-top: 80px;
    // }
}
body:not(.home-page) .main {
    padding-top: 80px;
}

