.my-ac-container {
    // .padT40;
    // .padB60;

    .dashboard-main {
        // display: flex;
        // flex-wrap: wrap;
        // padding-top: 20px;
    }

    .my-ac-tab-contianer {
        width: 100%;
        background-color: @white;
        max-width: 1300px;
        margin: auto;
        // @media only screen and (max-width: @mobile) {
        //     padding-bottom: 0;
        //     width: 100%;
        //     max-width: 100%;
        //     position: fixed;
        //     height: 100vh;
        //     max-height: 100%;
        //     left: 0;
        //     top: 0;
        //     z-index: 9;
        //     overflow: auto;
        //     border-radius: 0;
        // }

        .tab-btns {
            .service-tab-btn {
                padding: 32px 30px;
                //  width: calc(100% / 6);
                text-align: center;

                .text-box {}

                .title {
                    margin: 0;
                    color: @navy;

                    img {
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    background-color: @light-gray;
                    border-bottom: 10px solid @gray;
                }
            }

            .active {
                // border-bottom: 10px solid @red; 
            }
        }

        .dashboard-tab {
            // height: 378px;
            // max-height: 378px;
            // padding-top: 20px;

            // @media only screen and (max-width: @mobile) {
            //     height: calc(100vh - 70px);
            //     max-height: calc(100vh - 70px);
            //     padding-top: 86px;
            // }
        }

        .dashboard-logout {
            padding: 10px 0;

            @media only screen and (max-width: @mobile) {
                height: auto;
                padding: 10px 30px !important;
            }

            li {
                margin-bottom: 0 !important;
                border-left: none !important;
                padding: 10px 30px 0px 0px !important;
                h6 {
                    color: #8C8C8C !important;
                    opacity: 1 !important;
                }
            }
        }
    }


    .account-data {
       .bg-light-gray;   
       .account-head{
           .bdr-b;
           padding: 40px;
           @media only screen and (max-width: @mobile) {
            padding: 20px; 
        }
       }
        .form-container {
            padding: 40px;
            max-width: 530px;
            @media only screen and (max-width: @mobile) {
                padding: 20px; 
            }
        }
    }

    .tab-detail {
        //width: calc(100% - 430px);
        margin-left: auto;

        th,
        td,
        p,
        span,
        div {
            color: @navy;
        } 
        @media only screen and (max-width: @mobile) {
            width: 100%;
        }

        .data { 
            background-color: @light-gray;
            .address-head {
                padding: 40px;
                .jc-sb;

                @media only screen and (max-width: @mobile) {
                    padding: 20px;
                    padding-bottom: 0;
                }
            }
        }

        .address-data {
            .add-details {
                padding:40px;

                @media only screen and (max-width: @mobile) {
                    padding: 20px;
                }

                h6{
                margin-bottom: 0;
                .ff-Heebo-Medium;
                }
            }
        }

        // addressh end 

        // my order table end
    }

    // tab detail end
}


.my-order-table {
    table {
        display: block;

        @media only screen and (max-width: @tablet) {
            display: table;
        }

        .order-thead {
            padding: 30px;
            display: block;
            width: 100%;
            border-bottom: 1px solid @dark-gray2;

            @media only screen and (max-width: @mobile) {
                padding: 15px;  
                    position: absolute;
                    left: -99999px;
                    overflow: hidden;
                    width: 0px;
                    height: 0px; 
            }

            th {
                width: 250px;
            }
        }

        .order-tbody {
            .order-tr {
                width: 100%;
                padding: 20px 40px;
                display: block;
                border-bottom: 1px solid @dark-gray2;

                &:last-child {
                    border: none;
                }

                @media only screen and (max-width: @mobile) {
                    padding: 10px;
                }

                .order-td {
                    width: 250px;

                    @media only screen and (max-width: @mobile) {
                        padding: 10px;
                        display: block;
                        width: 100%;
 
                            &:before{
                                content: attr(data-title);
                                display: inline-block;
                                width: 100%;
                                min-width: 100px;
                                font-weight: bold;
                            } 
                    }

                    .col {
                        &:last-child {
                            text-align: right !important;
                        }
                    }

                    small {
                        .c-black;
                        line-height: 20px;
                        letter-spacing: 0.4px;
                        margin-bottom: 5px;
                    }

                    .order-more-btn {
                        text-align: center;
                        background-color: @gray;
                        border-radius: 40px;
                        padding: 12px 20px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 26px;
                        .ff-Heebo-Medium;
                        color: @navy;
                        img {
                            margin-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }

                // order td
            }

        }
    }

}


.addresses {
    .address-list {
        width: calc(100% / 2 - 20px);
        margin: 10px;

        @media only screen and (max-width: @mobile) {
            width: 100%;
        }
    }
}

.dashboard-data {
    .small-w6 {
        max-width: 620px;

        @media only screen and (max-width: @mobile) {
            margin-top: 20px;
        }

    }
}

.dashboard-pannel {
    @media only screen and (max-width: @mobile) {
        flex-direction: column;
    }

    &>p {
        margin: 0;
    }
}

.tab-footer {
    display: none;

    @media only screen and (max-width: @mobile) {
        position: relative;   
        width: 100%; 
        z-index: 5;
        margin-top:10px;
        display: block; 
        .footer-tab-btn {
            display: flex;
            align-items: center;       
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 10px 20px; 
            h6 {
                margin-bottom: 0;
                color: @bluedark;
            }

        }
    }

}

.tab-menu-m {
    @media only screen and (max-width: @mobile) {
          display: none;
    }
}

.tab-menu-show {
    @media only screen and (max-width: @mobile) {
        display: block;
        position: fixed;
    top: 0;
    background-color: @light-gray !important;
    width: 100%;
    height: 100vh;
    z-index: 9;
    left: 0;
    padding-top: 90px;
    }
    .dashboard-tab{
        .service-tab-btn{
            width: 100%;
            text-align: left !important;
        }
    }
}

.table-design {
    thead th {
        .ff-Heebo-Medium;
        font-weight: 500;
    }

}


.newthing-account { 
    .dashboard {
        background-color: @light-gray;
        padding: 40px;
        min-height: 273px;
        @media only screen and (max-width: @mobile) {
            padding: 20px;
            min-height: auto;
        }
    }
}
.das-b-btn{
    @media only screen and (max-width: @mobile) {
        background-color: @light-gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        padding: 15px 10px;
        width: 60%;
        border-radius: 50px;
    }
}