html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
/* Global */

ol, ul {
    list-style: none;  
}
blockquote, q {
    quotes: none;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}
sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
button {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
input {
    color: inherit;
    font: inherit;
    margin: 0;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
optgroup {
    color: inherit;
    font: inherit;
    margin: 0;
}
select {
    color: inherit;
    font: inherit;
    margin: 0;
}
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="reset"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled] {
    cursor: default;
}
html {
    input[disabled] {
        cursor: default;
    }
}
input {
    line-height: normal;
}
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"] {
    &::-webkit-inner-spin-button {
        height: auto;
    }
    &::-webkit-outer-spin-button {
        height: auto;
    }
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}
blockquote, q {
    &:before {
        content: '';
        content: none;
    }
    &:after {
        content: '';
        content: none;
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    td {
        padding: 0;
    }
    th {
        padding: 0;
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: 0 none !important;
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
}
