//@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import '_variables.less';
@import '_classes.less';

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    position: relative;
    color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 15px;
    color: @navy;

}

h1,
.h1 {
    font-size: 62px;
    line-height: 120%;
    .ff-Heebo-Light;
    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    } 

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }
    @media only screen and (max-width: @tablet) {
        font-size: 48px;
        line-height: 110%;
     }
    @media only screen and (max-width: @mobile) {
         font-size: 42px;
         line-height: 50px;
      }
}

h2,
.h2 {
    font-size: 48px;
    line-height: 120%;
    .ff-Heebo-Light;
    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    }

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }
    @media only screen and (max-width: @tablet) {
        font-size: 38px;
        line-height: 100%;
    }
    @media only screen and (max-width: @mobile) {
        font-size: 32px;
        line-height: 120%;
    }
}

h3,
.h3 {
    font-size: 38px;
line-height: 110%;
.ff-Heebo-Regular;
    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    }

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }
    @media only screen and (max-width: @tablet) {
        font-size: 34px;
        line-height: 100%;
    }
    @media only screen and (max-width: @mobile) {
        font-size: 32px;
        line-height: 110%;
    }
}

h4,
.h4 {
    font-size: 32px;
    line-height: 120%;

    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    }

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }
    @media only screen and (max-width: @tablet) {
        font-size: 26px;
        line-height: 120%;
    }
    @media only screen and (max-width: @mobile) {
        font-size: 24px;
        line-height: 120%;
    }
}

h5,
.h5 {
    font-size: 24px;
    line-height: 120%;

    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    }

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }

    @media only screen and (max-width: @mobile) {
        font-size: 20px;
        line-height: 120%;
    }
}

h6,
.h6 {
    font-size: 18px;
    line-height: 140%;
    .ff-Heebo-Medium;
    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    }

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }

    @media only screen and (max-width: @mobile) {
        font-size: 16px;
        line-height: 140%;
    }
}

p,
.p,
ul,
ol,
table,
body {
    font-size: 18px;
    line-height: 140%;
    color: @navy;
    .ff-Heebo-Light;
}

small {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.display-text {
    .ff-Heebo-ExtraBold;
    font-size: 70px;
    letter-spacing: 1px;
    line-height: 76px;
    color: @blue;
    @media only screen and (max-width: @tablet) {
        font-size: 50px;
        line-height: 52px;
    }
    @media only screen and (max-width: @mobile) {
        font-size: 40px;
        line-height: 42px;
    }

    &.c-ocean-blue {
        color: @ocean-blue;
    }

    &.c-white {
        color: @white;
    }

    &.c-red {
        color: @red;
    }

    &.c-black {
        color: @black;
    }
}

a {
    color: @red;
    .ff-Heebo-Medium;
}

.a-link{
    color: @red;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    line-height: 140%;
    @media only screen and (max-width: @mobile) {
       font-size: 16px;
       line-height: 140%;
    }
}