/* Global Variables */

@white: #ffffff;  
@black: #000000;  
@bluedark: #2D4457;
@black2: #1D1D1D;
@black3: #151515;
@blue: #9BDBFF; 
@navy: #223242;
@dark-navy: #0A2067;
@ocean-blue: #597EF7;
@light-blue: #DCF2FF; 
@purple: #BBBEFF;
@light-purple: #ECEDFF;
@blue-2: #8EA7F8;
@blue-3:  #393E46;
@blue-4:  #161617;
@blue-m: #15AFF4;
@blue-m2: #00C0EC; 
@green: #A9EEC2;  
@light-green: #E3FFED;
@yellow-light:#FFFEF5;
@light-red: #F38181;
@red: #E66A6A;  
@e-light-red: #FF9696;
@n-dark-red: #FFD8D8;
@orange: #FAD284; 
@light-orange: #FFF2D9;
@gray:  #ECF0F1;  
@dark-gray: #4F4F4F;
@dark-gray2: #E0E0E0;
@light-gray: #F9FBFB;
@gray2: #020202; 
@gray3: #F1F1F1;
@gray4: #F4F4F4; 
@gray5: #F7F7F7;
@border: #dfdfdf;
@pink: #FFAFD5;
@light-pink: #FFECF5;
@pink2:#F1EEDF; 
@lime-green: #D8DE69;
@gradient: linear-gradient(to bottom, rgba(197, 77, 113, 1) 0%, rgba(69, 66, 149, 1) 100%);
@shadow: rgba(0, 0, 0, 0.05);
@image-path: '../images/';
 
/* Color */
.c-white {
    color: @white !important;
}

.c-black {
    color: @black;
}
.c-black3 {
    color: @black3;
}
.c-black2 {
    color: @black2;
}

.c-blue {
    color: @blue;
}
.c-navy {
    color: @navy;
}
.c-ocean-blue {
    color: @ocean-blue;
}
.c-green {
    color: @green;
}

.c-red {
    color: @red;
}

.c-orange {
    color: @orange;
}

.c-gray {
    color: @gray;
}

.c-gray2 {
    color: @gray2;
}
.c-gray3 {
    color: @gray3;
}
.c-gray4 {
    color: @gray4;
}
.c-gray5 {
    color: @gray5;
}
.c-pink {
    color: @pink;
}

/* Background */

.bg-white {
    background-color: @white;
}

.bg-black {
    background-color: @black;
}
.bg-black2 {
    background-color: @black2;
}
.bg-black3 {
    background-color: @black3;
}

.bg-blue {
    background-color: @blue;
}
.bg-light-blue {
    background-color: @light-blue;
}
.bg-dark-navy{
    background-color: @dark-navy;
}
.bg-light-gray{
    background-color: @light-gray;
}
.bg-purple{
    background-color: @purple;
}
.bg-light-purple{
    background-color: @light-purple;
}
.bg-navy{
    background-color: @navy;
}  
.bg-e-light-red{
    background-color: @e-light-red;
}
.bg-n-dark-red{
    background-color: @n-dark-red;
}

.bg-light-blue{
    background-color: @light-blue;
}
.bg-ocean-blue{
    background-color: @ocean-blue;
}
.bg-green {
    background-color: @green;
}
.bg-light-green {
    background-color: @light-green;
}
.bg-pink {
    background-color: @pink;
}
.bg-light-pink {
    background-color: @light-pink;
}

.bg-red {
    background-color: @red;
}
 
.bg-orange {
    background-color: @orange;
}
.bg-light-orange {
    background-color: @light-orange;
}

.bg-yellow {
    background-color: @yellow-light;
}

.bg-gray {
    background-color: @gray;
}

.bg-gray2 {
    background-color: @gray2;
}

.bg-gray3 {
    background-color: @gray3;
}
.bg-gray4 {
    background-color: @gray4;
}
.bg-gray5 {
    background-color: @gray5;
}
.bg-gray6{
    background-color: @blue-3;  
}
footer{
    &.bg-dark-navy{
        background-color: @blue-4;
    }
}

// gradient bg classs

.g-w-lb{
    background-image: linear-gradient(to left, @light-blue 50%, @white 50%); 
}
.g-lb-b{
    background-image: linear-gradient(to right, @light-blue 50%, @blue 50%);
    @media only screen and (max-width: @mobile) {
        background-image: none; 
    }
}
.g-lbL-b{
    background-image: linear-gradient(to left, @light-blue 50%, @blue 50%);
    @media only screen and (max-width: @mobile) {
      background-image: none;
    }
}

.g-lb-w{ 
    background-image: linear-gradient(to right, @light-blue 50%, @white 50%);
    @media only screen and (max-width: @mobile) {
        background-image: none;
    }
}
.g-w-b{
    background-image: linear-gradient(to right, @white 50%, @blue 50%);
    @media only screen and (max-width: @mobile) {
        background-image: none;
      }
}
.g-db-b{
    background-image: linear-gradient(to right, @dark-navy 50%, @blue 50%);
    @media only screen and (max-width: @mobile) {
        background-image: none;
    }
}
.g-b-lb4{
    background-image: linear-gradient(to right, @gray3 60%, @blue-3 40%);
    @media only screen and (max-width: @mobile) {
        background-image: none;
    }        
}
/* Font Family */

.ff-normal {
    font-weight: normal;    
    font-style: normal;
}
 
.ff-Heebo-ExtraBold,
.ff-Heebo-Light, 
.ff-Heebo-Medium,
.ff-Heebo-Regular,
.ff-Heebo-Bold{
    &:extend(.ff-normal all);
} 
 
.ff-Heebo-Bold { 
    font-family:'Heebo';
    font-weight: 700;
    font-style: normal;
}
 
.ff-Heebo-ExtraBold {
    font-family:'Heebo ExtraBold';
    font-weight: 800;
}
.ff-Heebo-Light {
    font-family:'Heebo Light';
    font-weight: 300;
    font-style: normal;
}
.ff-Heebo-Medium {
    font-family:'Heebo Medium';
    font-weight: 500;
    font-style: normal;
}  
.ff-Heebo-Regular{
    font-family:'Heebo';
    font-weight: 400;
    font-style: normal;
}  
/* Site Wrappers */

.wrapper {
    max-width: 1700px;
}

.inner-wrapper {
    max-width: 1190px;
}

.small-wrapper {
    max-width: 1000px;
}

.small-wrapper-md {
    max-width: 860px;
    margin: auto;
    @media only screen and (max-width: @mobile) {  
        max-width: 100%;
    }
    .sec-head{
        padding: 0 100px;
        @media only screen and (max-width: @mobile) {  
           padding: 0;
        }
        &.pad-40{
            padding: 0 40px;

            @media only screen and (max-width: @mobile) {  
                padding: 0;
             }
        }
    }
}

.small-wrapper-xs {
    max-width: 680px;
    margin: auto;
    @media only screen and (max-width: @mobile) {
        max-width: 100%;
    }
}

.full-wrapper {
    max-width: 100%;
}

.ie10 .page-wrapper,
.ie11 .page-wrapper {
    height: auto;
}

.clearfix {
    &:before {
        content: '';
        display: table;
        clear: both;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.wrapper,
.inner-wrapper,
.small-wrapper,
.small-wrapper-xs,
.full-wrapper {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    &:extend(.clearfix all);
    @media only screen and (max-width: @mobile) {
        padding: 0px 20px;
    }
}
.c-bluedark{
    color: @bluedark;
}
.c-blue3{
    color: @blue-3;
}
.c-lime{
    color: @lime-green !important;
}

/// border

.bdr-green{
    border: 2px solid @green; 
}

.bdr-orange{
    border: 2px solid @orange; 
}

.bdr-blue{
    border: 2px solid @blue; 
}

.bdr-purple{
    border: 2px solid @purple; 
}

.bdr-pink{
    border: 2px solid @pink; 
}

.bdr-light-red{
    border: 2px solid @e-light-red; 
}



// Devices Media Queries:

@medium-desktop:1200px;
@tablet:1024px;
@tablet-p:980px;
@mobile:768px;
@small-mobile:480px;

