.header-right{
    padding: 35px 0;
    padding-right: 105px;
    .transition;
    .book{
        right: -30px;
        top: 0;
        z-index: 1;
    }
    .links {
        font-size: 0.889rem;
        line-height: 1.5;
        span{
            display: block;
            margin: 0;
        }
        .item{
            float: left;
            position: relative;
            padding-left: 60px;
            margin-right: 55px;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                height: 35px;
                width: 35px;
                top: 50%;
                margin-top: -18px;
                background-image: url("@{image-path}icon-sprite.png");
                background-repeat: no-repeat;
                background-size: 130px 35px;
                -webkit-transform: translateZ(0);
            }
        }
        a{
            color: rgba(0,0,0,0.8);
            &:hover{
                color: @green;
            }
        }
        .call{
            &:before{
                background-position: 2px 0;
            }
        }
        .mail{
            &:before{
                background-position: -44px 0;
            }
        }
        .location{
            &:before{
                background-position: -95px 0;
            }
        }    
    }
}