.page-menu {
    .ff-Heebo-Medium;
    padding-top: 8px;

    .link {
        position: relative;
        float: left;
        margin: 0 20px;

        @media only screen and (max-width: @medium-desktop) {
            // margin: 0 12px;
        }

        @media only screen and (max-width: @tablet) {
            margin: 0 12px;
        }

        @media only screen and (max-width: @mobile) {
            display: block;
            float: none;
            padding: 40px 0px;
            border-top: 1px solid @gray;
            border-bottom: 1px solid @gray;
            margin: 0;
        }

        &:last-child {
            margin-right: 0px;
        }

        &:first-child {
            margin-left: 0;
        }

        a {
            display: block;
            color: @navy;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px; 

            @media only screen and (max-width: @tablet) and (min-width: @mobile){
                font-size: 14px;
                line-height: 16px;
            }

            @media only screen and (max-width: @mobile) {
                font-weight: normal;
                font-size: 24px;
                line-height: 120%;
            } 
            &:hover,
            &:focus {
                color: @navy;
            }

            img {
                vertical-align: middle;
                margin-left: 10px;
            }
        }

        &.active {
            a {
                color: @navy;

                @media only screen and (max-width: @mobile) {
                    color: @navy;
                }
            }
        }


        &:hover {
            border-bottom: 10px solid @gray;
            padding-bottom: 11px;

            @media only screen and (max-width: @mobile) {
                border: 0;
                padding-bottom: 40px;
            } 
            .sub-menu {
                opacity: 1;
                visibility: visible;
                -webkit-transition: all .4s ease;
                -ms-transition: all .4s ease;
                transition: all .4s ease;
                top: 100%;
                pointer-events: all;

                @media only screen and (max-width: @mobile) {
                    display: none;
                    transition: none;
                    top: auto;
                    left: auto;
                    min-width: 100%;
                }
                &.submenu-active{
                    @media only screen and (max-width: @mobile) {
                        top: -120px;
                        display: block;
                        position: absolute;
                        height: 110vh;
                        right: -200px;
                        background-color: #F9FBFB;
                        width: 100%;
                        min-width: 100vw;
                        padding: 0;
                        max-width: 100%;
                        padding: 0 20px;
                        text-align: left;                 
                        li{
                            float: none;
                            padding: 40px 0px;
                            border-top: 1px solid #ECF0F1;
                            border-bottom: 1px solid #ECF0F1;
                            margin: 0;
                        }
                    }
                
                }
            }
        }

        .sub-menu {
            position: absolute;
            margin-top: 10px;
            text-align: left;
            opacity: 0;
            visibility: hidden;
            background: @gray;
            pointer-events: none;
            padding: 25px 0;
            width: 100vw;
            left: 50%;
            transform: translate(-50%);
            max-width: 1300px;

            &:before {
                position: absolute;
                left: -50vw;
                min-width: 200vw;
                content: '';
                height: 100%;
                top: 0;
                background: @gray;
                z-index: -1;
                @media only screen and (max-width: @mobile) {
                    display: none;
                }
            }

            @media only screen and (max-width: @mobile) {
                min-width: 100%;
                opacity: 1;
                visibility: inherit;
                z-index: 1;
                padding: 0px 20px;
                left: 0;
                border: none;
                background-color: @gray;
                position: relative;
                float: left;
                display: none;

                li {
                    margin: 10px 0;
                    margin-right: 0px;
                    display: block;
                    float: left;
                    width: 100%;

                    a {
                        padding: 0;
                    }
                }
            }

            li {
                display: inline-block;
                margin-right: 60px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                    }
                }

                .on-hover {
                    display: none;
                }

                &:hover {
                    .no-hover {
                        display: none;
                    }

                    .on-hover {
                        display: inline-block;
                    }
                }
            }

            &.show-dropmenu {}

        }
    }
}

@media only screen and (max-width: @mobile) {
    .page-menu {
        position: fixed;
        left: 0;
        top: 86px;
        bottom: 0;
        right: 0;
        height: 100vh;
        text-align: left;
        display: block;
        background-color: @white;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        z-index: 1;
        -webkit-box-shadow: inset 0px 13px 29px -21px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: inset 0px 13px 29px -21px rgba(0, 0, 0, 0.11);
        box-shadow: inset 0px 13px 29px -21px rgba(0, 0, 0, 0.11);
        overflow-y: auto; 
        ul {
            width: 100%;
            padding: 0 20px;

            .link {
                color: @white;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 1px;
                position: relative;               
            }
        }
    }

    .menu-open .page-menu {
        top: 80px;
        opacity: 1;
        visibility: visible;
        padding-top: 0px;
    }

    .btn-header {
        display: block;
        width: 100%;
    }

    .small-link {
        display: block;
        margin-bottom: 20px;
        color: @pink;
    }
}

@media only screen and (orientation: landscape) {
    .page-menu:after {
        background-image: none;
    }
}


.sub-menu-icon {
    width: 100%;
    float: left;
    height: 0;
    position: relative;
    margin-top: 0px;

    @media only screen and (max-width: @mobile) {
        margin-top: 0px; 
    }

    &:before {
        content: "";
        // background: url(../images/menu-dropdown-icon.svg) no-repeat 0 0;
        background-size: 100%;
        height: 3px;
        padding: 0;
        position: absolute;
        right: -20px;
        width: 8px;
        top: -15px;
        -webkit-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        background: @navy;
        transform: rotate(-40deg);

        @media only screen and (max-width: @mobile) {
            right: 10px;
    top: -16px;
    transform: rotate(-40deg);
        }
    }

    &::after {
        content: "";
        // background: url(../images/menu-dropdown-icon.svg) no-repeat 0 0;
        background-size: 100%;
        height: 3px;
        padding: 0;
        position: absolute;
        right: -15px;
        width: 8px;
        top: -15px;
        -webkit-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        background: @navy;
        transform: rotate(40deg);
        @media only screen and (max-width: @mobile) {
            right: 10px;
            top: -20px;
            transform: rotate(40deg);
        }
    }
}

.header-submenu {
    .pos-r;
    &.menu-m-dropdown {
        &:after,
        &:before {
            top: 63px;
        }
    }
    &.active {

        &:after,
        &:before {
            background-color: @navy;
        }
    }
}

.mobile-menu {
    @media only screen and (max-width: @mobile) {
        background-color: @white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .link {
            border: none;
            padding: 30px 0;
            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;

                @media only screen and (max-width: @medium-desktop) {
                    font-size: 14px;
                    line-height: 24px;
                }
                
            }
        }
    }
}
.destop-menu {
    @media only screen and (max-width: @mobile) {
        background-color: @light-gray;
        height: 100%;
    }
} 
@media only screen and (max-width: @mobile) {
.submenu-active{
    .header-submenu-active{
       & > a{
            padding-left: 30px !important;
        }
        .sub-menu-icon{
            &:after {
                left: 10px;
                top: -20px;
                transform: rotate(140deg);
            }
            &:before {
                left: 10px;
                top: -16px;
                transform: rotate(-140deg);
            }
        }
    }
}

}



.cart-tab-mobile{
    max-width: 517px;
    margin-left: auto;
    padding: 20px;
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    opacity: 0;
    transition: ease-in-out;
    &.cart-active{
        display: block;
        opacity: 1;
        transition: ease-in-out;         
        @media only screen and (max-width: @mobile) {
            height: 100vh;
            z-index: 9;
            top: 80px;
        }
    }
    .cart-inner-container{
        text-align: initial;

        figure{
            float: left;            
            margin-right: 20px; 
        } 
        figcaption{
            width: calc(100% - 140px);
            margin-left: auto;
        }
    }
    .cart-price{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        .product-action{
            a{
                margin-left: 20px;
            }
        }
    }
    .cart-price-container{
        padding: 20px 0;
        h4, h6, h5{
            margin-bottom: 0;
        }
    }
    .cart-checkout{
        padding: 20px 0;
    }
}

.cart-tab{
    span{        
        display: flex;
        .off{
            display: block;
        }
        .on{
            display: none;
        }
    }
    &.active{
        span{
        color: @red;
        .on{
            display: block;
        } 
        .off{
            display: none;
        }
        }
    }
}