.page-header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    z-index: 1000;
    background:@white;
    // transform: translate(-50%, -0%);
    // -webkit-transform: translate(-50%, -0%);
    will-change: transform, padding;
    border: none;  
    // left: 50%;
    height: 80px; 
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    padding: 25px 0;
    @media only screen and (max-width: @mobile) {  
        background: @white;
    }
    .logo{ 
        img{
            @media only screen and (max-width: @mobile) { 
                height: 30px;   
            }
        } 
    }


    .page-top-header{
        .bg-dark-navy;
        padding: 10px 0px;
        height: 45px;
        @media only screen and (max-width: @mobile) { 
            height: 40px;
            background-color: @bluedark;
        }
        .page-top-menu{
            display: flex;
            justify-content: flex-end;
            color: @white;
            flex-wrap: wrap;
            margin: 0px -15px;
            @media only screen and (max-width: @mobile) { 
                justify-content: center;
            }
            li{
                margin: 0px 15px;
                a{
                    font-size: 15px;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    text-transform: uppercase; 
                    color: @blue-3;
                    @media only screen and (max-width: @mobile) { 
                        color: @white;
                    }
                } 

                &:hover{
                    a{
                        color:@lime-green;
                    }
                }
            }
        }
    } 
}