.close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 26px;
    width: 26px;
    z-index: 999;
    cursor: pointer;
    background: transparent;
    span {
        display: block;
        text-indent: -9999px;
        height: 30px;
        width: 30px;
        &:before,  &:after {
            &:extend(.transition);
            content: '';
            position: absolute;
            height: 2px;
            width: 33px;
            background: @black;
        }
        &:before {
            bottom: 12px;
            right: -2px;
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:after {
            top: 12px;
            right: -2px;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &.w-1 {
        span {
            &:before,  &:after {
                height: 1px;
            }
            &:before {
                bottom: 13px;
            }
            &:after {
            }
        }
    }
    &:hover {
        span {
            &:before {
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:after {
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
    &.white {
        span {
            &:before,  &:after {
                background: @white;
            }
        }
    }
}


.close {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    &:before,  &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: @black;
        width: 200%;
        left: -50%;
        .transition;
    }
    &:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}