
.nav-toggle {
    padding: 11px 0;
    &:extend(.transition);
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 99;
    margin: 0;
    border: none;
    background-color: transparent;
    display: none;
    @media only screen and (max-width: @mobile) {
        left: auto;
    width: 125px;
    padding: 0;
    padding-left: 0;
    top: 0;
    right: 0;
    display: block;
    background-color: @light-gray;
    border-radius: 30px;
    padding: 5px 15px;
    } 
    &:before,  &:after {
        display: none;
    }
    span {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 2px;
        background: @navy;
        transition: background 0.3s 0.5s ease;
        -ms-transition: background 0.3s 0.5s ease;
        -webkit-transition: background 0.3s 0.5s ease;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        overflow: visible;
        margin: 15px;
        z-index: 9;
        vertical-align: top;
        &:before,  &:after {
            &:extend(.transition);
            content: '';
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 2px;
            background: @navy;
            left: 0;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
            -ms-transition: top 0.3s 0.6s ease, -ms-transform 0.3s ease;
            transition: top 0.3s 0.6s ease, transform 0.3s ease;
        }
        &:before {
            top: 8px;
        }
        &:after {
            top: -8px;
        }
        @media only screen and (max-width: @mobile) {
            float: right;
        }

        p{
            margin-left: -55px;
    margin-top: -11px;
    font-size: 18px;
    line-height: 26px;
    .ff-Heebo-Medium;
        }
        .menu-op{
            display: block;
        }
        .menu-close{
            display: none;
        }
        
       
    }
    &:hover {
        opacity: 1;
        background-color: @light-gray;
        /*        span{
                            &:before{
                                top: 7px;
                            }
                            &:after{
                                top: -7px; 
                            }
                        }*/
    }
    &:active {
        transition: 0s;
    }
    &.active {
        span {
            transition: background 0.3s 0s ease;
            -webkit-transition: background 0.3s 0s ease;
            -ms-transition: background 0.3s 0s ease;
            background: transparent;
            &:before,  &:after {
                -webkit-transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
                -ms-transition: top 0.3s ease, -ms-transform 0.3s 0.5s ease;
                transition: top 0.3s ease, transform 0.3s 0.5s ease;
                top: 0;
                background: @navy;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
            &:before {
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                -ms-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg);
            }
            &:after {
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                -ms-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }


    &.active{
         
        span{
        .menu-op{
            display: none;
        }
        .menu-close{
            display: block;
        }
    }
}
}

.menu-open{

    .menu{
        .logo{
            display: none;
        }
    }
}