button, input[type='button'], input[type='submit'], input[type='reset'], .btn {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 150px;
    border: 2px solid @gray;
    width: auto;
    height: 50px;
    max-height: 50px;
    text-align: center;
    overflow: hidden;
    //text-transform: uppercase;
    text-decoration: none;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: @navy;
    background: @ocean-blue;
    // box-shadow: 5px 5px 9px 0px rgb(115 61 10 / 14%);
    &:extend(.transition);
    z-index: 1; 
    .ff-Heebo-Medium;  

    span {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    &.btn-blue{
        background: @blue;
        border-color: @blue;
    }
    &.btn-ocean-blue{
        background: @ocean-blue;
        border-color: @ocean-blue;
    }
    &.btn-white{
        background: @white;
        color: @ocean-blue;
        border-color: @gray3;
    }
    &.btn-blue-m2{
        background: @blue-m2;
        color: @white;
        border-color: @blue-m2;
    } 
    &.btn-pink{
        background: @pink;
        border-color: @pink;
    } 
    &.btn-gray{
        background: @gray;
        border-color: @gray;
    }
    &.btn-e-light-red{
        background: @e-light-red;
        border-color: @e-light-red;
    } 
    &.btn-green{
        background: @green;
        border-color: @green; 
    }
    &.btn-gray2{
        background: @gray2;
        border-color: @pink; 
    }
    &.btn-light-gray{
        background: @light-gray;
        border-color: @light-gray;  
    }
    &.btn-pink2{
        background: @pink2; 
        border-color: @pink2;
    }
    &.btn-purple{
        background: @purple; 
        border-color: @purple;
    }
    &.btn-orange{
        background: @orange; 
        border-color: @orange;
    }
    &.btn-purple{
        background: @purple; 
        border-color: @purple;
    }
    &.c-orange{
        color: @orange;
    } 
    &.c-pink{
        color: @pink;
    }
    &.c-blue{
        color: @blue;
    }
    &.c-red{
        color: @red;
    }
    &.c-green{
        color: @green;
    }
    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
    &.btn-lime{
        background: @lime-green;
        color: @dark-gray;
        border-color: @lime-green;
    }
    &.btn-lime-transparent{
        background: transparent;
        color: @lime-green;
        border: 2px solid @lime-green;

        
    }
    &::-moz-focus-inner {
        border: 0 none;
    }  

    img{
     //   float: right;
            vertical-align: middle;
            margin-left: 10px;
        //  @media only screen and (max-width: @mobile) {
        //     margin-left: 5px;
        //  }
    }
}

html:not(.iphone), html:not(.ipad), html:not(.android) {
    button,  input[type='button'],  input[type='submit'],  .btn {
        &:hover, &:focus {
            background: @white;
            color: @navy;
            border-color: @gray;
            &.btn-blue{ 
                color: @blue;
                border-color: @blue;
            }
            &.btn-ocean-blue{
                color: @white;
                background: @ocean-blue;
                border-color: @ocean-blue;
            }
            &.btn-lime{
                background: @lime-green;
                color: @dark-gray;
                border-color: @lime-green;
            }
            &.btn-lime-transparent{
                color: @dark-gray;
            }
            &.btn-blue-m2{
                background: @blue-m2;
                color: @white;
                border-color: @blue-m2;
            }
            &.btn-white{
                &.c-orange{
                    background: @orange;
                    color: @white;
                    border-color: @orange;
                }
                &.c-blue{
                    background: @blue;
                    color: @white;
                    border-color: @blue;
                }
                &.c-red{
                    background: @red;
                    color: @white;
                    border-color: @red;
                }
                &.c-green{
                    background: @green;
                    color: @white;
                    border-color: @green;
                }  
               
            }
        }
    }
}

 
 