/* Checkboxes
   ========================================================================== */
/* custom checkbox */
.c-checkbox {
    &>label,  &>.label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding:0 0 0 30px;
        margin: 0;
        font-size: 16px;
        line-height: 0; 
        color: @black;
        &:before {
            content: "";
            position: absolute;
            &:extend(.transition);
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background: transparent;
            top: 0px;
            left: 0;
            border-radius: 50%;
            border: 2px solid @white;
        }
    }
    input[type='checkbox'] {
        display: none;
        &~label,  &~.label {
            &:after {
                content: '☓';
            //    content: '✔';
                display: block;
                position: absolute;
                color: @white;
                //background: @white; 
                border-radius: 50%;
                border: 2px solid @white;
                font-size: 15px;
                text-align: center;
                line-height: 17px;
                height: 20px;
                width: 20px;
                left: 0;
                top: 0px;  
                transform-origin: 50% 50%;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -webkit-transition: all 0.15s ease; 
                -ms-transition: all 0.15s ease;
                transition: all 0.15s ease;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
        &:checked {
            &~label,  &~.label {
                &:after {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &.checkbox-black{
         &>label,  &>.label {
            &:before{
                border-color: @navy;
            }
        }
        input[type='checkbox'] {
            &~label,  &~.label {
                &:after {
                    color: @navy;
                    border-color: @navy;
                }
            }    
        }
    }
}