/* Inputs */
input {
    width: 100%;
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='datetime'],
input[type='email'],
input[type='date'],
textarea,
.input-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 55px;
    border: 1px solid @gray;
    border-radius: 50px;
    padding: 0 15px;
    width: 100%;
    letter-spacing: 0;
    font-size: 18px;
    background: transparent;
    color: @navy;
    .ff-Heebo-Medium;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;  
    .marB20;
    &.small {
        height: 48px;
        padding: 0 10px;
    }

    &.error {
        border-color: @red;
    }

    &::-webkit-input-placeholder {
        color: rgb(0, 0, 0);
        opacity: 1 !important;
    }

    &::-moz-placeholder {
        color: rgb(0, 0, 0);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: rgb(0, 0, 0);
        opacity: 1;
    }

    &:-moz-placeholder {
        color: rgb(0, 0, 0);
        opacity: 1;
    }

    &::-ms-clear {
        display: none;
    }

    &:focus {
        border-color: @border;
    } 
    &.disable-input{
        background-color: @light-blue;
    }
}

input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
select:focus,
textarea:focus,
._keyfocus *:focus,
input:not([disabled]):focus,
textarea:not([disabled]):focus,
select:not([disabled]):focus {
    box-shadow: none;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    resize: none;
    overflow: auto;
    height: 80px;  
    /*    &::-webkit-input-placeholder {
            color: @gray;
            opacity: 1 !important;
        }
        &::-moz-placeholder {
            color: @gray;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: @gray;
            opacity: 1;
        }
        &:-moz-placeholder {
            color: @gray;
            opacity: 1;
        }*/
    &::-ms-clear {
        display: none;
    }
}

/* File Input
   ========================================================================== */

.file-field {
    position: relative;

    .file-path-wrapper {
        overflow: hidden;
        padding-left: 10px;
    }

    input.file-path {
        width: 100%;
    }

    .btn {
        float: left;
    }

    span {
        cursor: pointer;
    }

    input[type=file] {

        // Needed to override webkit button
        &::-webkit-file-upload-button {
            display: none;
        }
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.error-input{ 
    input{
        background-image: url('../images/input-error.svg');
        background-repeat: no-repeat;
        background-position: 95% center;
        color: @red;
        &::-webkit-input-placeholder {
            color: @red;
            opacity: 1 !important;
        }
        &::-moz-placeholder {
            color: @red;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: @red;
            opacity: 1;
        }
        &:-moz-placeholder {
            color: @red;
            opacity: 1;
        }

    }
}

.pass-input{
    input{
        color: @ocean-blue;
        background-image: url('../images/input-pass.svg'); 
        background-repeat: no-repeat;
        background-position: 95% center;

        &::-webkit-input-placeholder {
            color: @ocean-blue;
            opacity: 1 !important;
        }
        &::-moz-placeholder {
            color: @ocean-blue;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: @ocean-blue;
            opacity: 1;
        }
        &:-moz-placeholder {
            color: @ocean-blue;
            opacity: 1;
        }
    }
}

 