label, .label {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top; 
    &.required {
        &:after {
            content: '*';
            color: red;
            font-size: 12px;
            margin: 0 0 0 5px;
            line-height: 1;
            top: 5px;
            left: 8px;
            position: relative;
        }
    }
}
.message{
    font-size: 0.813rem;
    padding: 10px 0 0;
    &.error{
        color: @red;
    }    
}
