select {
  height: 55px;
  border: 1px solid @gray;
  border-radius: 50px;
  padding: 0 15px;
  width: 100%;
  letter-spacing: 0;
  font-size: 18px;
  background: transparent;
  color: @navy;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  .marB20;
}

select:-moz-focusring {
  color: @navy;
  text-shadow: 0 0 0 #9b9b9d !important;
}

/* Custom Select*/

.c-select {
  position: relative;
  width: 100%;
  height: 54px;
  z-index: 1;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 0;
  -webkit-appearance: none;

  &:after {
    content: "\f107";
    position: absolute;
    font-family: 'FontAwesome';
    right: 0;
    top: 50%;
    margin-top: -16px;
    width: 40px;
    height: 0;
    z-index: -1;
    text-align: center;
    font-size: 24px;
  }

  &.active {
    &:after {
      transform: rotate(90deg) scaleX(-1);
    }
  }

  select {
    width: 100%;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin: 0;
    padding: 0 45px 0 15px;
    border-radius: 50px;
    letter-spacing: 0;
    font-size: 18px;
    color: @navy;
    -webkit-appearance: none;
    -moz-appearance: none;
    .ff-Heebo-Medium;
    cursor: pointer;

    option {
      padding: 10px 12px;
      color: @black;
      -moz-appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      .transition;

      &:hover {
        color: @black;
      }

      &:checked {
        background-color: -moz-html-cellhighlight !important;
        color: -moz-html-cellhighlighttext !important;
        color: @black;
      }
    }
  }
}

.c-select select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url('../images/select-icon.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
}

.currency {
  margin: 0;
  width: 50px;
  height: 20px;

  @media only screen and (max-width: @mobile) {
    width: 170px;
    height: 45px;
    margin: 0 auto 30px;
  }
}

.currency select {
  padding: 0 7px;
  width: 50px;
  height: 32px;
  color: #000;
  background-image: url(../images/currency.svg);
  margin-top: 2px;
  background-position: 85% center;

  @media only screen and (max-width: @mobile) {
    width: 170px;
    height: 45px;
  }
}




/*======================================
  Selectric v1.13.0
======================================*/

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  height: 55px;
  border: 1px solid @dark-gray;
  border-radius: 0px;
  padding: 0 15px;
  background-color: @black;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url('../images/select-icon.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  font-size: 24px;
  line-height: 24px;
  color: @white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric .button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #F8f8f8;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}

.selectric-hover .selectric .button {
  color: #a2a2a2;
}

.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  //*font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: @black2;
  border: 1px solid @dark-gray;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
  border-radius: 5px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 10px;
  color: @white;
  cursor: pointer;
  border: 1px solid @dark-gray;

}

.selectric-items li.selected {
  background: #E0E0E0;
  color: #444;
}

.selectric-items li.highlighted {
  background: @black3;
  color: @white;
}

.selectric-items li:hover {
  background: @black3;
  color: @white;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}